.fc-event {
    color: black !important;
}

/* 모바일 환경에서 사이드바 숨기기 */
@media (max-width: 768px) {
    .sidebar-container {
        display: none;
    }
}

a{
    text-decoration: none;
    color: inherit;
}

.pawsModal-content{
    height: 500px;    overflow: auto;
}

.input-a {
    height: 38px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #bebebe;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
}

#calendarDescription {
    width: 400px;
    height: 200px;
}

.pawsModal-content-container {
    margin-top: 20px;
    margin-left: 80px;
}

#calendar-map{
    border-radius:10px;
    width: 400px;
    height: 200px;
    margin: 10px 0px 10px 0px;
    display:none;
}

#sample5_address {
    width: 300px;
}

