.fc-event {
    color: black !important;
}

/* 모바일 환경에서 사이드바 숨기기 */
@media (max-width: 768px) {
    .sidebar-container {
        display: none;
    }
}

a{
    text-decoration: none;
    color: inherit;
}