.title-s{
    color: var(--black);
    padding: 5px 10px;
    width: fit-content;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    border-bottom: 8px solid var(--primary-color-dark);
}

.title-d{
    color: var(--black);
    padding: 5px 10px;
    width: fit-content;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    border-bottom: 2px solid var(--primary-color-dark);
}

.custom-hr {
    border: 1px solid #B0B0B0;
    margin: 0;
    flex: none;
}

.like-list-container-top div {
    cursor: pointer;
}

.like-list-container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.like-list-container-top{
    display: flex;
    gap: 50px;
    justify-content: left;
    margin-bottom: 20px;
}

.content-item{
    display: flex;
    gap: 20px;
    width: 600px;
}


.content-item-container-web{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    margin-bottom: 10px;
}

.like-list-container-content-mobile{
    display: none;
}

.content-item-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}


.item-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.item-like{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
}

.item-like img {
    cursor: pointer;
    max-width: 100%; /* 부모 요소보다 커지지 않게!!! */
    height: auto; /* 가로 비율 유지!!! */
    object-fit: contain; /* 이미지 비율 유지하면서 맞춤 */
}


.item-profile {
    max-height: 170px;
    max-width: 170px;
    overflow: hidden; /* 넘치는 부분 숨김 */
    display: flex; /* 이미지 중앙 정렬을 위해 flex 사용 */
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.item-profile img {
    width: 100%;  /* 부모 요소보다 커지지 않게!!! */
    height: 100%;  /* 부모 요소보다 커지지 않게!!! */
    object-fit: cover; /* 이미지 왜곡 없이 맞춤 */
}

.like-list-container-content-mobile{
    margin-top: 20px;
}



.mobile-container{
    padding: 20px 0px 20px 0px;
}

.item-name, .item-breed{
    font-size: 18px;
}
.item-name{
    font-size: 24px;
}


.item-gender, .item-birth{
    font-size: 17px;
    color: #5D5D5D;
}

.trait-tag, .play-tag{
    border: 1px solid #5e5e5e;
    border-radius: 30px;
    padding: 5px 16px
}

.item-personal, .item-play, .item-play-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.content-item{
    align-items: center;
}

.content-item, .item-personal{
    margin-bottom: 10px;
}

.dog-filter{
    font-size: 16px;
}

.content-items{
    width: 600px;
}

@media (max-width: 768px) {
    .like-list-container{
        width: 100%;
        margin: 0 auto;
        padding: 0px;
    }

    .like-list-container-content{
        padding: 0px;
    }

    .like-list-container-content-mobile{
        display: block;
    }

    .content-item-container-web-box{
        display: none;
    }

    .content-item{
        display: flex;
        gap: 10px;
        width: 150px;
    }


    .item-profile {
        max-width: 120px;   /* 가로 비율에 맞춰 자동 조정 */
        max-height: 120px;   /* 가로 비율에 맞춰 자동 조정 */
    }

}
