.custom-hr {
    border: 1px solid #B0B0B0;
    margin: 0;
}

.matching-filter {
    margin: 20px;
    padding: 20px;
    border: #bebebe solid 1px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .pw-title {
        display: none !important;
    }
}

.matching-item{
    margin-bottom: 30px;
}