HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Firebase 서비스 계정 JSON 파일 숨기기
frontend/src/main/resources/paws2-6ce51-firebase-adminsdk-fbsvc-*.json
backend/src/main/resources/paws2-6ce51-firebase-adminsdk-fbsvc-c5b52c56cf.json

docs/