<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <title>Title</title>
  <link rel="stylesheet" href="/css/hyepin/calendar.css">
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8dbf71c1b97b82a68dae0bdb4ede336c&libraries=services"></script>
</head>
<body layout:fragment="content" style="min-height: 100vh">
<div class="container">
  <!-- 여기서부터 작성하시면 됩니다. !-->

  <input type="hidden" name="username" id="username" value="안혜빈">

  <!-- FullCalendar -->
  <div id="calendar"></div>

  <!-- 일정 추가 폼 모달 -->
  <div class="pawsModal" id="calendarForm" style="display: none;">
    <form id="addCalendarForm">
      <input type="hidden" id="scheduleType" value="">
      <input type="hidden" id="sharedYn" value="">
      <input type="hidden" id="sharedId" value="">
      <button class="pawsModal-close" onclick="closeModal(this)"></button>
      <button class="pawsModal-close" onclick="closeModal(this)"></button>
      <div id="calendarRegist"> <h2 class="pawsModal-title">일정 등록</h2></div>
      <div id="calendarDetail" style="gap: 10px; display: none; justify-content: center;">
        <div><h2 class="pawsModal-title">일정 상세</h2> </div>
        <div  class="pawsModal-title" style="cursor: pointer;" onclick="calendarModify()"> <i class="bi bi-pencil"></i></div>
      </div>
      <input type="hidden" name="calendarId" value="">


      <div class="pawsModal-content">
        <div>
          <label for="calendarType">일정 구분</label>
          <!-- 이거 구분 테이블에서 가져와야함. 일단 픽스로  -->
          <select class="select-a" id="calendarType" name="calendarType">
            <option value="W">산책</option>
            <option value="P">놀이</option>
            <option value="M">교배</option>
          </select>
        </div>

        <div>
          <label for="dogId">반려견 선택</label>
          <select class="select-a" id="dogId" name="dogId">
            <option value="1">뭉이</option>
            <option value="2">최윤서</option>
            <option value="3">융더</option>
          </select>
        </div>

        <div>
          <label for="calendarTitle">제목</label><br>
          <input class="input-a" type="text" name="calendarTitle" id="calendarTitle" required><br><br>
        </div>

        <div id="shareUserField" style="display: none;">
          <label for="shareUser">공유자</label><br>
          <input class="input-a" type="text" id="shareUser" required><br><br>
        </div>

        <div>
          <div>날짜</div>
          <input  class="input-a" type="datetime-local" name="calendarStartDate" id="calendarStartDate" required><br><br>
          <input  class="input-a" type="datetime-local" name="calendarEndDate" id="calendarEndDate" required><br><br>
        </div>

        <div>
          <div>장소</div>

          <input type="text" id="sample5_address" name="address" class="input-a" placeholder="주소">
          <input type="button" onclick="sample5_execDaumPostcode()"  class="btn-confirm" value="주소 검색"><br>
          <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>

        </div>

        <div>
          <label for="calendarDescription">일정 상세</label><br>
          <textarea class="input-a" name="calendarDescription" id="calendarDescription"></textarea><br><br>
        </div>

        <div class="pawsModal-footer">
          <button class="pawsModal-confirm" id="submit" onclick="calendarSubmit()">저장</button>
          <button class="pawsModal-confirm" id="delete" onclick="calendarDelete()" style="display: none;">삭제</button>
          <button class="pawsModal-confirm" id="update" onclick="calendarUpdate()" style="display: none;">수정</button>
          <button class="pawsModal-cancel" id="share" onclick="calendarShare()">공유</button>
        </div>
      </div>
    </form>
  </div>

</div>

<script src="/js/hyepin/calendar.js"></script>
<script>
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div
          mapOption = {
            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
          };

  //지도를 미리 생성
  var map = new daum.maps.Map(mapContainer, mapOption);
  //주소-좌표 변환 객체를 생성
  var geocoder = new daum.maps.services.Geocoder();
  //마커를 미리 생성
  var marker = new daum.maps.Marker({
    position: new daum.maps.LatLng(37.537187, 127.005476),
    map: map
  });


  function sample5_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function(data) {
        var addr = data.address; // 최종 주소 변수

        // 주소 정보를 해당 필드에 넣는다.
        document.getElementById("sample5_address").value = addr;
        // 주소로 상세 정보를 검색
        geocoder.addressSearch(data.address, function(results, status) {
          // 정상적으로 검색이 완료됐으면
          if (status === daum.maps.services.Status.OK) {

            var result = results[0]; //첫번째 결과의 값을 활용

            // 해당 주소에 대한 좌표를 받아서
            var coords = new daum.maps.LatLng(result.y, result.x);
            // 지도를 보여준다.
            mapContainer.style.display = "block";
            map.relayout();
            // 지도 중심을 변경한다.
            map.setCenter(coords);
            // 마커를 결과값으로 받은 위치로 옮긴다.
            marker.setPosition(coords)
          }
        });
      }
    }).open();
  }
</script>
</body>
</html>
