<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <title>Title</title>
  <style>
    .calendar-form {
      display: none;
    }
  </style>
</head>
<body layout:fragment="content" style="min-height: 100vh">
<div class="container">
  <!-- 여기서부터 작성하시면 됩니다. !-->

  <!-- FullCalendar -->
  <div id="calendar"></div>

  <!-- 일정 추가 폼 모달 -->
  <div id="calendarForm" class="calendar-form">
    <form id="addCalendarForm">
      <button type="button" onclick="cancelForm()">X</button>
      <div id="calendarRegist">일정 등록</div>
      <div id="calendarDetail" style="gap: 10px; display: none;">
        <div>일정 상세</div>
        <div style="cursor: pointer;" onclick="calendarModify()"> <i class="bi bi-pencil"></i></div>
      </div>
      <div>
        <label for="calendarType">일정 구분</label>
        <!-- 이거 구분 테이블에서 가져와야함. 일단 픽스로  -->
        <select id="calendarType" name="calendarType">
          <option value="W">산책</option>
          <option value="P">놀이</option>
          <option value="M">교배 </option>
        </select>
      </div>

      <div>
        <label for="calendarTitle">제목</label><br>
        <input type="text" name="calendarTitle" id="calendarTitle" required><br><br>
      </div>

      <div>
        <div>날짜</div>
        <input type="datetime-local" name="calendarStartDate" id="calendarStartDate" required><br><br>
        <input type="datetime-local" name="calendarEndDate" id="calendarEndDate" required><br><br>
      </div>

      <div>
        <div>장소</div>
        <input type="text" name="address" id="address">
      </div>

      <div>
        <label for="calendarDescription">일정 상세</label><br>
        <textarea name="calendarDescription" id="calendarDescription"></textarea><br><br>
      </div>

      <input type="button" id="submit" onclick="calendarSubmit()" value="저장">
      <input type="button" id="delete" onclick="calendarDelete()" value="삭제" style="display: none;">
      <input type="button" id="update" onclick="calendarUpdate()" value="수정" style="display: none;">
      <input type="button" id="share" onclick="calendarShare()" value="공유">
    </form>
  </div>




  <script>
    let currentEventId = null;  // 수정할 이벤트의 ID를 저장할 변수

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      if (!calendarEl) {
        console.error('캘린더 요소가 없습니다!');
        return;
      }

      var calendar = new FullCalendar.Calendar(calendarEl, {

        //+more 표시
        dayMaxEventRows: true,
        views: {
          timeGrid: {
            dayMaxEventRows: 3
          }
        },

        initialView: 'dayGridMonth', // 기본 월간 달력
        headerToolbar: {
          start: '', // 왼쪽: 
          center: 'title',      // 중앙: 제목
          end: 'today prev,next' // 오른쪽: 오늘 버튼, 이전/다음 버튼
        },

        events: [
          {
            id: 2,
            title: '파우즈 운동회2!',
            start: "2025-01-24T10:00",  // KST로 변환된 시간
            end: "2025-01-24T12:00",
            //사용자 정의
            extendedProps: {
              allDay: true,
              type: 'M',
              address: '혜빈이집',
              description: '운동회 준비 및 진행'
            }
          },
          {
            id: 3,
            title: '파우즈 운동회3!',
            start: '2025-01-24T16:30',
            end: '2025-01-24T18:00',
            //사용자 정의
            extendedProps: {
              allDay: false,
              type: 'W',
              address: '우리집',
              description: '멍멍뭉뭉뭉'
            }
          },
          {
            id: 4,
            title: '파우즈 운동회4!',
            start: '2025-01-24T16:30',
            end: '2025-01-24T18:00',
            //사용자 정의
            extendedProps: {
              allDay: false,
              type: 'P',
              address: '한강',
              description: '왈왈오라오랑라오라ㅘㅇ왕라'
            }
          }
        ],

        //날짜 클릭했을 때 호출됨
        dateClick: function(info) {
          showCalendarForm(info.dateStr);
        },

        //등록된 날짜 클릭했을 때, 정보 보기
        eventClick: function(info) {
          editEventForm(info.event);
        },

        // 타이틀 옆에 아이콘 이미지 추가
        eventContent: function(info) {
          switch(info.event.extendedProps.type) {
            case 'W':
              icon = '<img src="/img/walk-icon.png" alt="산책 아이콘" style="width: 20px; height: 20px; margin-right: 5px;">';
              break;
            case 'P':
              icon = '<img src="/img/play-icon.png" alt="놀이 아이콘" style="width: 20px; height: 20px; margin-right: 5px;">';
              break;
            case 'M':
              icon = '<img src="/img/breeding-icon.png" alt="교배 아이콘" style="width: 20px; height: 20px; margin-right: 5px;">';
              break;
            default:
              icon = '<img src="/img/default-icon.png" alt="기본 아이콘" style="width: 20px; height: 20px; margin-right: 5px;">';
              break;
          }
          var title = info.event.title;
          return { html: icon + title };
        },

        // `type`에 따라 색상 설정
        eventDidMount: function(info) {
          const type = info.event.extendedProps.type;
          if (type === 'P') {
            info.el.style.backgroundColor = '#FFDDC1'; // 연주황
            info.el.style.color = 'black';
          } else if (type === 'M') {
            info.el.style.backgroundColor = '#FFD1DC'; // 연핑크
            info.el.style.color = 'black';
          } else if (type === 'W') {
            info.el.style.backgroundColor = '#CCFFCC'; // 연한 연두
            info.el.style.color = 'black';
          }
        }
      });

      calendar.render();
    });

    //폼 전역변수 선언
    let calendarTitleField = document.getElementById('calendarTitle');
    let calendarTypeField = document.getElementById('calendarType');
    let calendarStartDateField = document.getElementById('calendarStartDate');
    let calendarEndDateField = document.getElementById('calendarEndDate');
    let addressField = document.getElementById('address');
    let calendarDescriptionField = document.getElementById('calendarDescription');
    const submitBtn = document.getElementById("submit");
    const updateBtn = document.getElementById("update");
    const shareBtn = document.getElementById("share");
    const deleteBtn = document.getElementById("delete");

    // 일정 추가 폼 띄우기
    function showCalendarForm(selectedDate) {
      currentEventId = null;
      document.getElementById('calendarForm').style.display = 'block';
      submitBtn.style.display = "block";
      updateBtn.style.display = "none";
      shareBtn.style.display = "none";
      deleteBtn.style.display = "none";

      calendarTitleField.value = "";  // 제목 초기화
      calendarStartDateField.value = selectedDate + "T00:00";  // 기본 시작일 설정
      calendarEndDateField.value = selectedDate + "T23:59";    // 기본 종료일 설정
      addressField.value = ""; // 주소 초기화
      calendarDescriptionField.value = ""; // 일정상세 초기화
    }

    // 일정 상세 폼 띄우기
    function editEventForm(event) {
      currentEventId = event.id;  // 수정할 이벤트 ID 저장
      document.getElementById('calendarForm').style.display = 'block';

      shareBtn.style.display = "block";
      deleteBtn.style.display = "block";
      document.getElementById("calendarDetail").style.display = "block";
      document.getElementById("calendarDetail").style.display = "flex";
      submitBtn.style.display = "none";
      document.getElementById("calendarRegist").style.display = "none";

      calendarTitleField.value = event.title;
      calendarTitleField.setAttribute('readonly', true);

      // 서버에서 받은 시간
      const startDate = new Date(event.start);
      const endDate = event.end ? new Date(event.end) : startDate;

      // 클라이언트에서 시간을 로컬 타임존에 맞게 변환
      const startDateLocal = startDate.toLocaleString("sv-SE", { timeZone: "Asia/Seoul" }).replace(" ", "T").slice(0, 16);
      const endDateLocal = endDate.toLocaleString("sv-SE", { timeZone: "Asia/Seoul" }).replace(" ", "T").slice(0, 16);


      // 시작일과 종료일 설정 및 읽기 전용
      calendarStartDateField.value = startDateLocal;
      calendarStartDateField.setAttribute('readonly', true);
      calendarEndDateField.value = endDateLocal;
      calendarEndDateField.setAttribute('readonly', true);

      // 일정 구분
      calendarTypeField.value = event.extendedProps?.type || '산책';
      calendarTypeField.setAttribute('disabled', true); // 읽기 전용 설정

      // 주소
      addressField.value = event.extendedProps?.address || '';
      addressField.setAttribute('readonly', true); // 읽기 전용 설정

      // 상세 설명
      calendarDescriptionField.value = event.extendedProps?.description || '';
      calendarDescriptionField.setAttribute('readonly', true); // 읽기 전용 설정

    }

    // 일정 수정 폼 열기
    function calendarModify(){
      shareBtn.style.display = "none";
      updateBtn.style.display = "block";

      alert("일정 수정");

      calendarTitleField.removeAttribute('readonly');
      calendarStartDateField.removeAttribute('readonly');
      calendarEndDateField.removeAttribute('readonly');
      calendarTypeField.removeAttribute('disabled');
      addressField.removeAttribute('readonly');
      calendarDescriptionField.removeAttribute('readonly');
    }

    // 폼 초기화
    function resetForm() {
      document.getElementById('addCalendarForm').reset();
      document.getElementById('calendarForm').style.display = 'none';
    }

    // 일정 추가 폼 취소
    function cancelForm() {
      resetForm();
    }

    //일정 등록
   function calendarSubmit() {
      const formData = new FormData(document.getElementById('addCalendarForm'));

      //폼데이터 보내기
      api.post('/api/calendar', formData, {
      })
          .then(res => {
            if (res.body.body == '일정 저장 성공') {  // res.body.body 로 받아야합니다..
              alert("저장 성공");
              resetForm();  // 폼 초기화
            } else {
              alert("저장 실패");
            }
          })
          .catch(error => {
            console.error("오류:", error);
            alert("저장 오류");
          });
    }

    //일정 수정
    function calendarUpdate(){

      const formData = new FormData(document.getElementById('addCalendarForm'));

      //폼데이터 보내기
      api.put('/api/calendar', formData, {
      })
              .then(res => {
                if (res.body.body == '일정 수정 성공') {  // res.body.body 로 받아야합니다..
                  alert("수정 성공");
                  resetForm();  // 폼 초기화
                } else {
                  alert("수정 실패");
                }
              })
              .catch(error => {
                console.error("오류:", error);
                alert("수정 오류");
              });
    }

    //일정 삭제
    function calendarDelete(){
      const formData = new FormData(document.getElementById('addCalendarForm'));

      //폼데이터 보내기
      api.delete('/api/calendar', formData, {
      })
              .then(res => {
                if (res.body.body == '일정 삭제 성공') {  // res.body.body 로 받아야합니다..
                  alert("삭제 성공");
                  resetForm();  // 폼 초기화
                } else {
                  alert("삭제 실패");
                }
              })
              .catch(error => {
                console.error("오류:", error);
                alert("삭제 오류");
              });
    }

    //일정 공유
    function calendarShare(){
      updateBtn.style.display = "none";
      alert("일정 공유");
    }
  </script>
</div>
</body>
</html>
