<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/css/hyepin/matching.css">
</head>
<body layout:fragment="content" style="min-height: 100vh">
<div class="container">  <!-- 컨테이너 div.. 지우지 마세요 !-->
    <!-- 여기서부터 작성하시면 됩니다. !-->
    <div class="pw-title col-12">친구 매칭</div>

    <!-- 필터 구분 영역 -->
    <div style="display: flex; gap: 20px; padding: 20px;">
        <div class="dog-filter" style="gap: 5px;">
            <div>
                <img src="/img/icon/dog-filter/filter.svg" alt="dog-icon"> 필터
            </div>
            <div>
                <img src="/img/icon/button/caret.svg" alt="dog-icon">
            </div>
        </div>
        <div class="dog-filter" style="gap: 5px;">
            <div>
                <img src="/img/icon/dog-filter/liking.svg" alt="dog-icon">  이런 친구가 좋아요!
            </div>
            <div>
                <img src="/img/icon/button/caret.svg" alt="dog-icon">
            </div>
        </div>
    </div> <!-- 필터 구분 영역 -->

    <hr class="custom-hr">

    <!-- 필터 영역 -->
    <div class="matching-filter">

        <div class="row">
            <div class="matching-item col-md-4 col-sm-12">
                <div class="dog-filter" >
                    <img src="/img/icon/dog-filter/dog.svg" alt="dog-icon">견종
                </div>
                <div>
                    <div class="flex-box">
                        <select class="select-a" style="margin-right: 10px" id="breedSelect" name="breed">
                            <option value="" disabled selected>품종을 선택하세요</option>
                            <option th:each="breed : ${breedList}"
                                    th:value="${breed['gubn_code']}"
                                    th:text="${breed['gubn_name']}">
                            </option>
                        </select>
                        <label><input type="checkbox" class="checkbox-basic"> 순종</label>
                    </div>
                </div>
            </div>

            <div class="matching-item col-md-4 col-sm-12">
                <div class="dog-filter">
                    <img src="/img/icon/dog-filter/weight.svg" alt="weight-icon"> 체중
                </div>
                <div>
                    <input type="text" class="input-a" placeholder="체중을 입력해주세요"> Kg
                    <label> <input type="radio" name="radio2" class="radio-round" checked> 이상</label>
                    <label><input type="radio" name="radio2" class="radio-round"> 이하</label>
                </div>
            </div>

            <div class="matching-item col-md-4 col-sm-12">
                <div class="dog-filter">
                    <img src="/img/icon/dog-filter/foot.svg" alt="foot-icon"> 견BTI
                </div>
                <div class="dogTypeCode-container">
                    <select class="select-a" style="margin-right: 10px" id="dogTypeSelect" name="dogType">
                        <option value="" disabled selected>견BTI를 선택하세요</option>
                        <option th:each="dogType : ${dogTypeCodeList}"
                                th:value="${dogType['gubn_code']}"
                                th:text="${dogType['gubn_name']}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="matching-item col-md-4 col-sm-12">

                <div class="dog-filter">
                    <img src="/img/icon/dog-filter/bone.svg" alt="bone-icon">
                    강아지 성격(최대 5개 선택 가능)
                </div>
                <div class="personality-container">
                    <div class="search-box">
                        <input type="text" class="input-a" id="searchInput" style="width: 90%" placeholder="성격을 입력해 주세요" onfocus="showDropdown()">
                        <span onclick="clearInput()" class="search-icon">
                            <img src="/img/icon/search.svg" alt="search-icon">
                        </span>
                    </div>
                    <div class="dropdown" id="dropdown" style="display: none;">
                        <div th:if="${personalityList != null}" th:each="personality : ${personalityList}" class="option">
                            <input type="checkbox" class="checkbox-basic"
                                   th:id="'option' + ${personality['gubn_code']}"
                                   th:value="${personality['gubn_code']}"
                                   th:attr="data-name=${personality['gubn_name']}"
                                   onclick="selectOption(this)">
                            <label th:for="'option' + ${personality['gubn_code']}" th:text="${personality['gubn_name']}"></label>
                        </div>
                    </div>
                    <div class="selected-options" id="selectedOptions"></div>
                </div>
            </div>

            <div class="matching-item col-md-4 col-sm-12">
                <div class="dog-filter">
                    <img src="/img/icon/dog-filter/dribbble-ball.svg" alt="dribbble-ball-icon">
                    강아지 선호놀이(최대 5개 선택 가능)
                </div>
                <div class="play-container personality-container">
                    <div class="search-box">
                        <input type="text" class="input-a" id="searchInput2" style="width: 90%"  placeholder="좋아하는 놀이를 입력해 주세요" onfocus="showDropdown2()">
                        <span onclick="clearInput2()"><img src="/img/icon/search.svg" alt="search-icon"></span>
                    </div>
                    <div class="dropdown" id="dropdown2" style="display: none;">
                        <div th:if="${playList != null}" th:each="play : ${playList}" class="option">
                            <input type="checkbox" class="checkbox-basic"
                                   th:id="'option' + ${play['gubn_code']}"
                                   th:value="${play['gubn_code']}"
                                   th:attr="data-name=${play['gubn_name']}"
                                   onclick="selectOption2(this)">
                            <label th:for="'option' + ${play['gubn_code']}" th:text="${play['gubn_name']}"></label>
                        </div>
                    </div>
                    <div class="selected-options" id="selectedOptions2"></div>
                </div>

            </div>

            <div class="matching-item col-md-4 col-sm-12 day">
                <div class="dog-filter">
                    <img src="/img/icon/dog-filter/clock.svg" alt="clock-icon"> 산책 시작 시간
                </div>
                <div>
                    <input  class="input-a" type="time">
                    <input  class="input-a" type="time">
                </div>
                <div>
                    <div>산책요일 <label>  <input type="checkbox" class="checkbox-basic" id="selectAll"> 전체</label></div>
                </div>
                <div>
                     <label>  <input type="checkbox" class="checkbox-basic day-checkbox"> 월요일</label>
                     <label>  <input type="checkbox" class="checkbox-basic day-checkbox"> 화요일</label>
                     <label>  <input type="checkbox" class="checkbox-basic day-checkbox"> 수요일</label>
                     <label>  <input type="checkbox" class="checkbox-basic day-checkbox"> 목요일</label>
                     <label>  <input type="checkbox" class="checkbox-basic day-checkbox"> 금요일</label>
                     <label>  <input type="checkbox" class="checkbox-basic day-checkbox"> 토요일</label>
                     <label>  <input type="checkbox" class="checkbox-basic day-checkbox"> 일요일</label>
                </div>

            </div>
        </div>

        <div style="display: flex; gap: 10px; justify-content: flex-end;">
            <button class="btn-a">취소</button>
            <button class="btn-confirm">확인</button>
        </div>

    </div> <!-- 필터 영역 -->


    <div>  <!-- 선호 친구 조회 영역 -->

    </div> <!-- 선호 친구 조회 영역 -->


    <div>  <!-- 매칭 영역 -->

    </div> <!-- 매칭 영역 -->

</div> <!-- 컨테이너 div.. 지우지 마세요 !-->
<script src="/js/hyepin/matching.js"></script>
</body>
</html>
