<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-mypage}">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/css/hyepin/like_list.css">
</head>
<body layout:fragment="content">
<div class="container">  <!-- 컨테이너 div.. 지우지 마세요 !-->
    <!-- 여기서부터 작성하시면 됩니다. !-->

    <!-- 세션에서 유저값 받기 !-->
    <th:block th:if="${session.user != null && session.dog != null}">
        <input type="hidden" id="sessionUsername" th:value="${session.user.username}">
        <input type="hidden" id="sessionDogId" th:value="${session.dog.dogId}">
        <input type="hidden" id="sessionDogName" th:value="${session.dog.dogName}">
    </th:block>

    <div class="like-list-container">

        <!-- 토글 영역 -->
        <div class="like-list-container-top">
            <div class="title-d" id="friend-tab">친구후보</div>
            <div class="title-d" id="mating-tab">교배후보</div>
        </div>

        <!-- 컨텐트 영역 -->
        <div class="like-list-container-content" id="like-list-container-content">

            <!-- 웹 영역 / 이 부분은 지워집니다 -->
            <div class="content-item-container-web-box">
            </div>



            <!-- 모바일 영역 / 이 부분은 지워집니다 -->
            <div class="like-list-container-content-mobile">

            </div>



        </div>


    </div>


</div> <!-- 컨테이너 div.. 지우지 마세요 !-->
<script src="/js/hyepin/likeList/like_list.js"></script>
</body>
</html>
