<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogpaws.backend.repository.dao.common.LikeDao">

    <select id="checkLike" resultType="int">
        SELECT COUNT(1)
        FROM tbl_likes
        WHERE my_dog_id = #{myDogId}
        AND like_code = #{likeCode}
        AND dog_id = #{dogId};
    </select>

    <insert id="insertLike">
        INSERT INTO tbl_likes (my_dog_id, like_code, dog_id)
        VALUES (#{myDogId}, #{likeCode}, #{dogId});
    </insert>

    <delete id="deleteLike">
        DELETE FROM tbl_likes
        WHERE my_dog_id = #{myDogId}
        AND like_code = #{likeCode}
        AND dog_id = #{dogId};
    </delete>

</mapper>
