<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <link rel="stylesheet" href="/css/ajy/join.css" />
  <link rel="stylesheet" href="/css/ajy/dog_profile.css" />
  <link rel="stylesheet" href="/css/ajy/matching_select.css" />
  <title>강아지 프로필 등록</title>
</head>
<body layout:fragment="content" style="min-height: 100vh">
<div class="container">
  <div class="join-container">
    <div class="container_box">
      <div class="header" th:text="${dog != null and dog.dog_id != null ? '강아지 프로필 수정' : '강아지 프로필 등록'}"></div>
      <div class="form-container" style="justify-content: center;'">

        <div class="form-fields">
          <form id="dogForm" enctype="multipart/form-data">

            <input type="hidden" name="dogId" id="dogId" th:value="${dog != null ? dog.dog_id : ''}"/>

            <div class="center-profile">
              <div class="profile" id="profileUpload">
                <img id="profileImagePreview" src="" alt="프로필 이미지" class="profile-img-preview" style="display: none;">
                <div class="profile-upload-circle">+</div>
                <input type="file" id="fileInput" name="profileImage" accept="image/*" style="display: none;">
              </div>
            </div>

            <label for="dogName"><span class="required">*</span> 강아지 이름</label>
            <input type="text" id="dogName" name="dogName" placeholder="강아지 이름를 입력하세요 " th:value="${dog != null ? dog.dog_name : ''}">

            <label for="breedSelect"><span class="required">*</span>품종</label>
            <div class="flex-box">
              <select class="select-a" style="width:88%; margin-right: 10px" id="breedSelect" name="breed">
                <option value="" disabled selected>품종을 선택하세요</option>
                <option th:each="breed : ${breedList}"
                        th:value="${breed['gubn_code']}"
                        th:text="${breed['gubn_name']}"
                        th:selected="${dog != null and breed['gubn_code'] == dog.breed}">
                </option>
              </select>
              <input type="checkbox" class="checkbox-basic" id="mixBreed" name="isMix" style="margin-right: 5px; " value="Y" th:checked="${dog != null and #strings.equals(dog.is_mix, 'Y')} ">믹스
            </div>

            <div class="form-row">
              <div class="form-group_profile">
                <label for="birthYear">생년월</label>
                <div class="flex-box">
                  <select id="birthYear" class="select-a" style="width: 200px; margin-right: 10px" name="birthYear">
                    <option value="" >연도 선택</option>
                  </select>

                  <select id="birthMonth" class="select-a" style="width: 150px" name="birthMonth">
                    <option value="" >월 선택</option>
                  </select>
                </div>
              </div>

              <div class="form-group2">

                <label><span class="required">*</span> 성별</label>
                <div class="gender-container">

                  <!-- ✅ hidden input 추가 -->
                  <div class="gender-select">
                    <input type="hidden" name="gender" id="gender" th:value="${dog != null ? dog.gender : ''}"/>

                    <button
                            type="button"
                            onclick="setGender('M', this)"
                    >
                      남자
                    </button>

                    <button
                            type="button"
                            onclick="setGender('F', this)"
                    >
                      여자
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group1">
                <div class="flex-box" style="margin-top: 30px">
                  <input type="checkbox" class="checkbox-basic" id="isNeutered" name="isNeutered" value="Y" th:checked="${dog != null and #strings.equals(dog.is_neutered, 'Y')}">중성화
                </div>
              </div>

            </div>

            <label for="dogIntro"> 강아지 소개글</label>
            <textarea id="dogIntro" placeholder="강아지 소개글을 입력하세요" rows="4" cols="50" name="dogIntro" th:text="${dot != null ? dog.dog_intro : ''}"></textarea>

            <div class="personality-container">
              <div class="label">강아지 성격(최대 5개 선택 가능)</div>
              <div class="search-box">
                <input type="text" id="searchInput" placeholder="성격을 입력해 주세요" onfocus="showDropdown()">
                <span onclick="clearInput()"><img src="/img/icon/search.svg" alt="search-icon"></span>
              </div>
              <div class="dropdown" id="dropdown" style="display: none;">
                <div th:if="${personalityList != null}" th:each="personality : ${personalityList}" class="option">
                  <input type="checkbox" class="checkbox-basic"
                         th:id="'option' + ${personality['gubn_code']}"
                         th:value="${personality['gubn_code']}"
                         th:attr="data-name=${personality['gubn_name']}"
                         onclick="selectOption(this)">
                  <label th:for="'option' + ${personality['gubn_code']}" th:text="${personality['gubn_name']}"></label>
                </div>
              </div>
              <div class="selected-options" id="selectedOptions"></div>
            </div>

            <div class="play-container personality-container">
              <div class="label">강아지 좋아하는 놀이(최대 5개 선택 가능)</div>
              <div class="search-box">
                <input type="text" id="searchInput2" placeholder="놀이를 입력해 주세요" onfocus="showDropdown2()">
                <span onclick="clearInput2()"><img src="/img/icon/search.svg" alt="search-icon"></span>
              </div>
              <div class="dropdown" id="dropdown2" style="display: none;">
                <div th:if="${playList != null}" th:each="play : ${playList}" class="option">
                  <input type="checkbox" class="checkbox-basic"
                         th:id="'option' + ${play['gubn_code']}"
                         th:value="${play['gubn_code']}"
                         th:attr="data-name=${play['gubn_name']}"
                         onclick="selectOption2(this)">
                  <label th:for="'option' + ${play['gubn_code']}" th:text="${play['gubn_name']}"></label>
                </div>
              </div>
              <div class="selected-options" id="selectedOptions2"></div>
            </div>

            <div class="form-group">
              <label class="label">산책 요일</label>
              <div class="checkbox-group">
                <input type="checkbox" class="checkbox-basic" id="all-days">
                <label for="all-days">전체</label>

                <input type="checkbox" class="checkbox-basic" id="월">
                <label class="active" for="월">월요일</label>

                <input type="checkbox" class="checkbox-basic" id="화">
                <label class="active" for="화">화요일</label>

                <input type="checkbox" class="checkbox-basic" id="수">
                <label class="active" for="수">수요일</label>

                <input type="checkbox" class="checkbox-basic" id="목">
                <label for="목">목요일</label>

                <input type="checkbox" class="checkbox-basic" id="금">
                <label for="금">금요일</label>

                <input type="checkbox" class="checkbox-basic" id="토">
                <label for="토">토요일</label>

                <input type="checkbox" class="checkbox-basic" id="일">
                <label for="일">일요일</label>
              </div>
            </div>

            <div class="form-group">
              <label class="label">산책 시작 시간</label><br>
              <input  class="input-a" type="time" placeholder="산책 시작 시간" id="walkStartTime" name="walkStartTime" style="width:40%">
              <input  class="input-a" type="time" placeholder="산책 종료 시간" id="walkEndTime" name="walkEndTime" style="width:40%">

              <input type="checkbox" class="checkbox-basic" id="walkTimeYn" name="walkTimeYn" value="Y" th:checked="${dog != null and #strings.equals(dog.walk_time_yn, 'Y')}">
              <label for="walkTimeYn">상관없음</label>
            </div>

            <div class="form-group">
              <label class="label">체중</label>
              <div class="weight-input">
                <input type="text" id="weight" name="weight" placeholder="체중을 입력하세요" style="width: 95%" th:value="${dog != null ? dog.weight : ''}">
                <span>Kg</span>
              </div>
            </div>
            <!-- 교배 매칭 체크박스 -->
            <div class="matching-header">
              <input type="checkbox" class="checkbox-basic" id="isMatingAvailable" name="isMatingAvailable" value="Y" th:checked="${dog != null and #strings.equals(dog.is_mating_available, 'Y')}">
              <label for="isMatingAvailable">교배 매칭</label>
            </div>

            <!-- 안내 문구 -->
            <p class="matching-info">
              <span class="info-icon">⚠️</span> 선택하지 않아도 강아지 정보를 등록할 수 있습니다.<br>
              교배 매칭 여부는 추후 마이페이지에서 설정할 수 있습니다.
            </p>

            <!-- 강아지 이미지 -->
            <div class="matching-image">
              <img src="/img/baby_dog.jpg" alt="강아지 세 마리가 바구니 안에 있는 사진">
            </div>

            <!-- 설명 -->
            <p class="matching-description">
              혈통증명서, 예방접종 증명서, 건강기록 증명서를 기준으로 필터링하여
              더 신뢰할 수 있는 매칭 결과를 제공합니다.
              이 정보를 통해 최적의 교배 파트너를 찾을 수 있습니다.
            </p>

            <div id="fileUploadContainer" class="file-upload-container" style="display: none;">
              <!-- 제목 및 설명 -->
              <h2>교배 매칭 시, 선택 서류</h2>
              <p class="document-info">
                <span class="info-icon">⚠️</span> 교배매칭 선택시 업로드할 수 있습니다.<br>
                파일을 업로드 하지 않아도 다음으로 넘어갈 수 있습니다.<br>
                파일을 업로드하는 추후 마이페이지에서 설정할 수 있습니다.<br>
              </p>

              <!-- 파일 업로드 리스트 -->

              <div class="file-upload">
                <label>혈통증명서</label>
                <div class="file-input-group">
                  <input type="text" id="fileName1" name="fileName1" class="file-name" placeholder="선택한 파일명" readonly style="width: 76%;" th:value="${dog != null ? dog.pe_file : ''}">
                  <input type="file" id="fileInput1" name="fileInput1" class="file-input" accept=".pdf, .jpg, .png" style="display: none;">
                  <button type="button" class="file-button" onclick="openFileDialog('fileInput1', 'fileName1')">파일 찾기</button>
                </div>
              </div>

              <div class="file-upload">
                <label>예방접종 증명서</label>
                <div class="file-input-group">
                  <input type="text" id="fileName2" name="fileName2" class="file-name" placeholder="선택한 파일명" readonly style="width: 76%;" th:value="${dog != null ? dog.va_file : ''}">
                  <input type="file" id="fileInput2" name="fileInput2" class="file-input" accept=".pdf, .jpg, .png" style="display: none;">
                  <button type="button" class="file-button" onclick="openFileDialog('fileInput2','fileName2')">파일 찾기</button>
                </div>
              </div>

              <div class="file-upload">
                <label>건강검진 증명서</label>
                <div class="file-input-group">
                  <input type="text" id="fileName3" name="fileName3" class="file-name" placeholder="선택한 파일명" readonly style="width: 76%;" th:value="${dog != null ? dog.he_file : ''}">
                  <input type="file" id="fileInput3" name="fileInput3" class="file-input" accept=".pdf, .jpg, .png" style="display: none;">
                  <button type="button" class="file-button" onclick="openFileDialog('fileInput3','fileName3')">파일 찾기</button>
                </div>
              </div>
            </div>
            <div class="button-container">
              <input type="submit" style="width: 100%" th:attr="value=${dog != null and dog.dog_id != null ? '강아지 수정' : '강아지 등록'}"/>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/ajy/dog_profile_register.js"></script>

</body>
</html>