<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" href="/css/ajy/login.css" />

    <title>개인정보 수정</title>
</head>
<body layout:fragment="content" style="min-height: 100vh">
<div class="container">
    <div class="edit-container">
    <div class="sidebar">
        <div class="sidebar-container">
            <div class="sidebar-header">
                <img src="/img/icon/pet.svg" alt="로고" class="logo" />
                <p>마이페이지</p>
            </div>
            <hr />
            <ul class="sidebar-menu">
                <li><a href="#" class="active">개인정보 관리</a></li>
                <li><a href="#">반려견 프로필 관리</a></li>
                <li><a href="#">좋아요 목록</a></li>
                <li><a href="#">작성한 게시글 보기</a></li>
                <li><a href="#">일정 관리</a></li>
                <li><a href="#">스토어</a></li>
                <li>
                    <ul>
                        <li><a href="#">장바구니</a></li>
                        <li><a href="#">주문 · 배송</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="login-container" style="max-width: 450px">
        <h1>개인정보 관리</h1>
        <hr>
        <p>
        <span class="info-icon">⚠️</span> 안전한 개인정보 수정을 위해 패스워드를 입력해주세요
        </p>
        <form id="checkForm">
            <label class="required">* <span style="color:black">패스워드</span></label>
            <input type="hidden" name="username" th:value="${user.username}"/>
            <input type="password"
                   name="password"
                   id="password"
                   placeholder="패스워드를 입력하세요"
            />
            <div id="error-message" class="genesis-error-message-custom" style="display: none;">
                비밀번호를 다시 확인해주세요...
            </div>
            <button type="submit" class="btn-confirm">확인</button>
        </form>
    </div>
    </div>

</div>
<script src="/js/ajy/"></script>
</body>
</html>