<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" href="/css/ajy/login.css" />

    <title>개인정보 수정</title>
</head>
<body layout:fragment="content" style="min-height: 100vh">
<div class="container">
    <div class="edit-container">
    <div class="sidebar">
        <div class="sidebar-container">
            <div class="sidebar-header">
                <img src="/img/icon/pet.svg" alt="로고" class="logo" />
                <p>마이페이지</p>
            </div>
            <hr />
            <ul class="sidebar-menu">
                <li><a href="#" class="active">개인정보 관리</a></li>
                <li><a href="#">반려견 프로필 관리</a></li>
                <li><a href="#">좋아요 목록</a></li>
                <li><a href="#">작성한 게시글 보기</a></li>
                <li><a href="#">일정 관리</a></li>
                <li><a href="#">스토어</a></li>
                <li>
                    <ul>
                        <li><a href="#">장바구니</a></li>
                        <li><a href="#">주문 · 배송</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="login-container" style="max-width: 450px">
        <h1>개인정보 관리</h1>
        <hr>
        <p>
        <span class="info-icon">⚠️</span> 소셜 회원인 경우, 정보 수정이 불가합니다. <br>회원탈퇴 시, 관리자한테 문의주세요.
        </p>

    </div>
    </div>

</div>
</body>
</html>