<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogpaws.backend.repository.dao.hyepin.HyepinDogDao">
    <insert id="insertDog" parameterType="com.dogpaws.backend.dto.hyepin.TestDogDto">
        INSERT INTO tbl_dogs (
        username,
        dog_name,
        breed,
        is_mix,
        birth_year,
        birth_month,
        gender,
        is_neutered,
        weight,
        walk_start_time,
        walk_end_time,
        walk_days,
        is_mating_available,
        profile_url,
        blood_test_certified,
        vaccination_certified,
        health_record_certified
        )
        VALUES (
        #{username},
        #{dogName},
        #{breed},
        #{isMix},
        #{birthYear},
        #{birthMonth},
        #{gender},
        #{isNeutered},
        #{weight},
        #{walkStartTime},
        #{walkEndTime},
        #{walkDays},
        #{isMatingAvailable},
        #{profileUrl},
        #{bloodTestCertified},
        #{vaccinationCertified},
        #{healthRecordCertified}
        )
    </insert>

    <insert id="insertDogPersonal" parameterType="map">
        INSERT INTO tbl_dog_personal (
        dog_id,
        dog_personal_gbn_cd
        )
        VALUES (
        #{dogId},
        #{dogPersonalGbnCd}
        )
    </insert>

    <insert id="insertDogPlay" parameterType="map">
        INSERT INTO tbl_dog_play (
        dog_id,
        dog_play_gbn_cd
        )
        VALUES (
        #{dogId},
        #{dogPlayGbnCd}
        )
    </insert>

</mapper>
