<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common/common.css">
</head>
<body layout:fragment="content" style="min-height: 100vh">
<h1>나는 누구?</h1>
<div class="result">
    <div class="left-result">
        <img src="" alt="">
    </div>
    <div class="right-result">
        <button class="btn-result"></button>
        <h2 class="result-title"></h2>
        <p class="result-content"></p>
    </div>
    <div class="match">
        <div class="title">
            <div class="title-content">
                <h1>찰떡궁합!</h1>
                <button class="btn-match"></button>
            </div>
            <div class="title-image">
                <img src="/img/견BTI매치.png" alt="">
            </div>
        </div>
        <div class="content">
            <p class="match-content"></p>
            <p class="match-end"></p>
        </div>
    </div>
</div>
</body>
</html>