<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css">
    <style>
        .common-container {
            padding: 1dvb;
        }
        .code-container {
            display: flex;
            align-items: flex-start;
            margin: 20px 0;
            gap: 20px;
        }
        .preview {
            min-width: 300px;
        }
    </style>
</head>
<body>

<div class="common-container">

    <div class="code-container">
        <div class="preview">
            <button class="btn-orange">강아지 만나러 가기</button>
        </div>
        <pre><code class="language-html">&lt;button class="btn-orange"&gt;강아지 만나러 가기&lt;/button&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <button class="btn-goto">검사하러 가기</button>
        </div>
        <pre><code class="language-html">&lt;button class="btn-goto"&gt;검사하러 가기&lt;/button&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <img src="/img/icon/button/paw-icon.svg" alt="paw-icon">
        </div>
        <pre><code class="language-html">&lt;img src="/img/icon/button/paw-icon.svg" alt="paw-icon"&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <div class="pw-title">일정 관리</div>
        </div>
        <pre><code class="language-html">&lt;div class="pw-title"&gt;일정 관리&lt;/div&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <div class="dog-filter">
                <img src="/img/icon/dog-filter/dog.svg" alt="dog-icon">
                견종
            </div>
        </div>
        <pre><code class="language-html">&lt;div class="dog-filter"&gt;
    &lt;img src="/img/icon/dog-filter/dog.svg" alt="dog-icon"&gt;
    견종
&lt;/div&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <div class="dog-filter">
                <img src="/img/icon/dog-filter/bone.svg" alt="bone-icon">
                성격
            </div>
        </div>
        <pre><code class="language-html">&lt;div class="dog-filter"&gt;
    &lt;img src="/img/icon/dog-filter/bone.svg" alt="bone-icon"&gt;
    성격
&lt;/div&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <div class="dog-filter">
                <img src="/img/icon/dog-filter/foot.svg" alt="foot-icon">
                견BTI
            </div>
        </div>
        <pre><code class="language-html">&lt;div class="dog-filter"&gt;
    &lt;img src="/img/icon/dog-filter/foot.svg" alt="foot-icon"&gt;
    견BTI
&lt;/div&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <div class="dog-filter-calendar">
                <img src="/img/icon/dog-filter/birth.svg" alt="calendar-icon">
                2015년 1월생
            </div>
        </div>
        <pre><code class="language-html">&lt;div class="dog-filter-calendar"&gt;
    &lt;img src="/img/icon/dog-filter/birth.svg" alt="calendar-icon"&gt;
    2015년 1월생
&lt;/div&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <div class="dog-filter">
                <img src="/img/icon/dog-filter/dribbble-ball.svg" alt="dribbble-ball-icon">
                좋아하는 놀이
            </div>
        </div>
        <pre><code class="language-html">&lt;div class="dog-filter"&gt;
    &lt;img src="/img/icon/dog-filter/dribbble-ball.svg" alt="dribbble-ball-icon"&gt;
    좋아하는 놀이
&lt;/div&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <div class="dog-filter">
                <img src="/img/icon/dog-filter/puzzle.svg" alt="puzzle-icon">
                좋아하는 놀이
            </div>
        </div>
        <pre><code class="language-html">&lt;div class="dog-filter"&gt;
    &lt;img src="/img/icon/dog-filter/puzzle.svg" alt="puzzle-icon"&gt;
    좋아하는 놀이
&lt;/div&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <div class="dog-filter">
                <img src="/img/icon/dog-filter/weight.svg" alt="weight-icon">
                체중
            </div>
        </div>
        <pre><code class="language-html">&lt;div class="dog-filter"&gt;
    &lt;img src="/img/icon/dog-filter/weight.svg" alt="weight-icon"&gt;
    체중
&lt;/div&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <div class="dog-filter">
                <img src="/img/icon/dog-filter/clock.svg" alt="clock-icon">
                산책 시작 시간
            </div>
        </div>
        <pre><code class="language-html">&lt;div class="dog-filter"&gt;
    &lt;img src="/img/icon/dog-filter/clock.svg" alt="clock-icon"&gt;
    산책 시작 시간
&lt;/div&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <img src="/img/icon/mating.svg" alt="mating-icon">
        </div>
        <pre><code class="language-html">&lt;img src="/img/icon/mating.svg" alt="mating-icon"&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <img src="/img/icon/like.svg" alt="like-icon">
        </div>
        <pre><code class="language-html">&lt;img src="/img/icon/like.svg" alt="like-icon"&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <img src="/img/icon/messege.svg" alt="messege-icon">
        </div>
        <pre><code class="language-html">&lt;img src="/img/icon/messege.svg" alt="messege-icon"&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <img src="/img/icon/wechat-logo.svg" alt="wechat-logo-icon">
        </div>
        <pre><code class="language-html">&lt;img src="/img/icon/wechat-logo.svg" alt="wechat-logo-icon"&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <img src="/img/icon/alarm-warning-line.svg" alt="alarm-warning-line-icon">
        </div>
        <pre><code class="language-html">&lt;img src="/img/icon/alarm-warning-line.svg" alt="alarm-warning-line-icon"&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <img src="/img/icon/x-circle.svg" alt="x-circle-icon">
        </div>
        <pre><code class="language-html">&lt;img src="/img/icon/x-circle.svg" alt="x-circle-icon"&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <img src="/img/icon/rollback-arrow.svg" alt="rollback-arrow-icon">
        </div>
        <pre><code class="language-html">&lt;img src="/img/icon/rollback-arrow.svg" alt="rollback-arrow-icon"&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <!-- 추가된 버튼 -->
            <button class="btn-c">활발함</button>
            <button class="btn-c">호기심이 많음</button>
            <button class="btn-c">수영</button>
        </div>
        <pre><code class="language-html">
        &lt;button class="btn-c"&gt;활발함&lt;/button&gt;
        &lt;button class="btn-c"&gt;호기심이 많음&lt;/button&gt;
        &lt;button class="btn-c"&gt;수영&lt;/button&gt;
    </code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <!-- 추가된 버튼 -->
            <button class="btn-d">센트럴 아시아 셰퍼드 독</button>
        </div>
        <pre><code class="language-html">
                &lt;button class="btn-d"&gt;센트럴 아시아 셰퍼드 독&lt;/button&gt;
    </code></pre>
    </div>




    <div class="code-container">
        <div class="preview">
            <button class="btn-a">취소</button>
        </div>
        <pre><code class="language-html">&lt;button class="btn-a"&gt;취소&lt;/button&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <button class="btn-b">취소2</button>
        </div>
        <pre><code class="language-html">&lt;button class="btn-b"&gt;취소2&lt;/button&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <button class="btn-confirm">확인</button>
        </div>
        <pre><code class="language-html">&lt;button class="btn-confirm"&gt;확인&lt;/button&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <button class="btn-delete">삭제</button>
        </div>
        <pre><code class="language-html">&lt;button class="btn-delete"&gt;삭제&lt;/button&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <button class="btn-confirm" style="width: 100px; height: 40px;">중복 확인</button>
        </div>
        <pre><code class="language-html">&lt;button class="btn-confirm" style="width: 100px; height: 40px;"&gt;중복 확인&lt;/button&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <img src="/img/icon/search.svg" alt="search-icon">
        </div>
        <pre><code class="language-html">&lt;img src="/img/icon/search.svg" alt="search-icon"&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <input type="checkbox" class="checkbox-basic">
            <input type="checkbox" class="checkbox-basic" checked>
        </div>
        <pre><code class="language-html">&lt;input type="checkbox" class="checkbox-basic"&gt;
&lt;input type="checkbox" class="checkbox-basic" checked&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <input type="checkbox" class="checkbox-round">
            <input type="checkbox" class="checkbox-round" checked>
        </div>
        <pre><code class="language-html">&lt;input type="checkbox" class="checkbox-round"&gt;
&lt;input type="checkbox" class="checkbox-round" checked&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <input type="checkbox" class="checkbox-round red">
            <input type="checkbox" class="checkbox-round red" checked>
        </div>
        <pre><code class="language-html">&lt;input type="checkbox" class="checkbox-round red"&gt;
&lt;input type="checkbox" class="checkbox-round red" checked&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <input type="checkbox" class="checkbox-basic red">
            <input type="checkbox" class="checkbox-basic red" checked>
        </div>
        <pre><code class="language-html">&lt;input type="checkbox" class="checkbox-basic red"&gt;
&lt;input type="checkbox" class="checkbox-basic red" checked&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <input type="radio" name="radio1" class="radio-basic">
            <input type="radio" name="radio1" class="radio-basic" checked>
        </div>
        <pre><code class="language-html">&lt;input type="radio" name="radio1" class="radio-basic"&gt;
&lt;input type="radio" name="radio1" class="radio-basic" checked&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <input type="radio" name="radio2" class="radio-round">
            <input type="radio" name="radio2" class="radio-round" checked>
        </div>
        <pre><code class="language-html">&lt;input type="radio" name="radio2" class="radio-round"&gt;
&lt;input type="radio" name="radio2" class="radio-round" checked&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <input type="text" class="input-a" placeholder="ㅁㄴㅇㄴㅁㅇㄴㅁㄹ" style="width: 500px;">
        </div>
        <pre><code class="language-html">&lt;input type="text" class="input-a" placeholder="ㅁㄴㅇㄴㅁㅇㄴㅁㄹ" style="width: 500px;"&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <input type="text" class="input-a" placeholder="ㅁㄴㅇㄴㅁㅇㄴㅁㄹ">
        </div>
        <pre><code class="language-html">&lt;input type="text" class="input-a" placeholder="ㅁㄴㅇㄴㅁㅇㄴㅁㄹ"&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <textarea class="input-a" placeholder="상세한 사유를 같이 입력하시면 도움이 됩니다." style="width: 350px; height: 150px;"></textarea>
        </div>
        <pre><code class="language-html">&lt;textarea class="input-a" placeholder="상세한 사유를 같이 입력하시면 도움이 됩니다." style="width: 350px; height: 150px;"&gt;&lt;/textarea&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <div class="title-s">친구 후보</div>
            <div class="title-s">교배 후보</div>
        </div>
        <pre><code class="language-html">&lt;div class="title-s"&gt;친구 후보&lt;/div&gt;
&lt;div class="title-s"&gt;교배 후보&lt;/div&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <button class="btn-m-down"></button>
        </div>
        <pre><code class="language-html">&lt;button class="btn-m-down"&gt;&lt;/button&gt;</code></pre>
    </div>


    <div class="code-container">
        <div class="preview">
            <select class="select-a">
                <option value="">펫라이프 2구 바스락 터널 블루</option>
                <option value="">펫라이프 3구 바스락 터널 레드</option>
                <option value="">펫라이프 4구 바스락 터널 그린</option>
            </select>
        </div>
        <pre><code class="language-html">&lt;select class="select-a"&gt;
    &lt;option value=""&gt;펫라이프 2구 바스락 터널 블루&lt;/option&gt;
    &lt;option value=""&gt;펫라이프 3구 바스락 터널 레드&lt;/option&gt;
    &lt;option value=""&gt;펫라이프 4구 바스락 터널 그린&lt;/option&gt;
&lt;/select&gt;</code></pre>
    </div>


    <div class="code-container">
        <div class="preview">
            <div class="select-box">
                <div class="select-box-selected">펫라이프 2구 바스락 터널 블루</div>
                <div class="select-box-options">
                    <div class="select-box-option">펫라이프 2구 바스락 터널 블루</div>
                    <div class="select-box-option">펫라이프 3구 바스락 터널 레드</div>
                    <div class="select-box-option">펫라이프 4구 바스락 터널 그린</div>
                </div>
            </div>
        </div>
        <pre><code class="language-html">&lt;div class="select-box"&gt;
    &lt;div class="select-box-selected"&gt;펫라이프 2구 바스락 터널 블루&lt;/div&gt;
    &lt;div class="select-box-options"&gt;
        &lt;div class="select-box-option"&gt;펫라이프 2구 바스락 터널 블루&lt;/div&gt;
        &lt;div class="select-box-option"&gt;펫라이프 3구 바스락 터널 레드&lt;/div&gt;
        &lt;div class="select-box-option"&gt;펫라이프 4구 바스락 터널 그린&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

/* select-box 사용시 아래 자바스크립트 코드가 필요합니다 */
&lt;script&gt;
    document.querySelectorAll('.select-box').forEach(selectBox => {
        const selected = selectBox.querySelector('.select-box-selected');
        const options = selectBox.querySelector('.select-box-options');

        // select-box 클릭시 옵션 목록 토글
        selectBox.addEventListener('click', (e) => {
            selectBox.classList.toggle('active');
        });

        // 옵션 선택시 선택된 텍스트로 변경
        options.addEventListener('click', (e) => {
            if (e.target.classList.contains('select-box-option')) {
                selected.textContent = e.target.textContent;
            }
        });

        // 외부 클릭시 옵션 목록 닫기
        document.addEventListener('click', (e) => {
            if (!selectBox.contains(e.target)) {
                selectBox.classList.remove('active');
            }
        });
    });
&lt;/script&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <button class="btn-status">변경</button>
        </div>
        <pre><code class="language-html">&lt;button class="btn-status"&gt;변경&lt;/button&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <button class="btn-status-big">주문 취소</button>
        </div>
        <pre><code class="language-html">&lt;button class="btn-status-big"&gt;주문 취소&lt;/button&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <button class="btn-orange-dark">배송지 설정</button>
            <button class="btn-orange-dark">결제하기</button>
        </div>
        <pre><code class="language-html">&lt;button class="btn-orange-dark"&gt;배송지 설정&lt;/button&gt;
&lt;button class="btn-orange-dark"&gt;결제하기&lt;/button&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <div class="pawsModal">
                <button class="pawsModal-close"></button>
                <div class="pawsModal-title">모달제목</div>
                <div class="pawsModal-content">sdfsdf</div>
                <div class="pawsModal-footer">
                    <button class="btn-orange-dark" style="color: black;">결제하기</button>
                </div>
            </div>
        </div>
        <pre><code class="language-html">&lt;div class="modal"&gt;
    &lt;button class="modal-close"&gt;&lt;/button&gt;
    &lt;div class="modal-title"&gt;모달제목&lt;/div&gt;
    &lt;div class="modal-content"&gt;sdfsdf&lt;/div&gt;
    &lt;div class="modal-footer"&gt;
        &lt;button class="btn-orange-dark" style="color: black;"&gt;결제하기&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <div class="pawsModal" style="width: 330px; height: 150px;">
                <button class="pawsModal-close" style="width: 15px; height: 15px; top: 18px; right: 18px;"></button>
                <div class="pawsModal-content-center">장바구니에 상품을 담았습니다.</div>
                <div class="pawsModal-footer">
                    <button class="btn-b">장바구니 바로가기</button>
                </div>
            </div>
        </div>
        <pre><code class="language-html">&lt;div class="modal" style="width: 330px; height: 150px;"&gt;
    &lt;button class="modal-close" style="width: 15px; height: 15px; top: 18px; right: 18px;"&gt;&lt;/button&gt;
    &lt;div class="modal-content-center"&gt;장바구니에 상품을 담았습니다.&lt;/div&gt;
    &lt;div class="modal-footer"&gt;
        &lt;button class="btn-b"&gt;장바구니 바로가기&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="code-container">
        <div class="preview">
            <div class="pawsModal" style="width: 330px; height: 150px;">
                <button class="pawsModal-close" style="width: 15px; height: 15px; top: 18px; right: 18px;"></button>
                <div class="pawsModal-content-center">주문을 취소하시겠습니까?</div>
                <div class="pawsModal-footer">
                    <button class="pawsModal-confirm">확인</button>
                    <button class="pawsModal-cancel">취소</button>
                </div>
            </div>
        </div>
        <pre><code class="language-html">&lt;div class="modal" style="width: 330px; height: 150px;"&gt;
    &lt;button class="modal-close" style="width: 15px; height: 15px; top: 18px; right: 18px;"&gt;&lt;/button&gt;
    &lt;div class="modal-content-center"&gt;주문을 취소하시겠습니까?&lt;/div&gt;
    &lt;div class="modal-footer"&gt;
        &lt;button class="modal-confirm"&gt;확인&lt;/button&gt;
        &lt;button class="modal-cancel"&gt;취소&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>



    <div class="code-container">
        <div class="preview">
            <div class="sidebar">
                <div class="sidebar-container">
                    <div class="sidebar-header">
                        <img src="/img/icon/pet.svg" alt="로고" class="logo" />
                        <p>마이페이지</p>
                    </div>
                    <hr />
                    <ul class="sidebar-menu">
                        <li><a href="#">개인정보 관리</a></li>
                        <li><a href="#">반려견 프로필 관리</a></li>
                        <li><a href="#">좋아요 목록</a></li>
                        <li><a href="#">작성한 게시글 보기</a></li>
                        <li><a href="#" class="active">일정 관리</a></li>
                        <li><a href="#">스토어</a></li>
                        <li>
                            <ul>
                                <li><a href="#">장바구니</a></li>
                                <li><a href="#">주문 · 배송</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <pre><code class="language-html">&lt;div class="sidebar"&gt;
    &lt;div class="sidebar-container"&gt;
        &lt;div class="sidebar-header"&gt;
            &lt;img src="/img/icon/pet.svg" alt="로고" class="logo" /&gt;
            &lt;p&gt;마이페이지&lt;/p&gt;
        &lt;/div&gt;
        &lt;hr /&gt;
        &lt;ul class="sidebar-menu"&gt;
            &lt;li&gt;&lt;a href="#"&gt;개인정보 관리&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;반려견 프로필 관리&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;좋아요 목록&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;작성한 게시글 보기&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#" class="active"&gt;일정 관리&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;스토어&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href="#"&gt;장바구니&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="#"&gt;주문 · 배송&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-markup.min.js"></script>
<script>
    // select-box 기능을 위한 자바스크립트
    document.querySelectorAll('.select-box').forEach(selectBox => {
        const selected = selectBox.querySelector('.select-box-selected');
        const options = selectBox.querySelector('.select-box-options');

        // select-box 클릭시 옵션 목록 토글
        selectBox.addEventListener('click', (e) => {
            selectBox.classList.toggle('active');
        });

        // 옵션 선택시 선택된 텍스트로 변경 
        options.addEventListener('click', (e) => {
            if (e.target.classList.contains('select-box-option')) {
                selected.textContent = e.target.textContent;
            }
        });

        // 외부 클릭시 옵션 목록 닫기
        document.addEventListener('click', (e) => {
            if (!selectBox.contains(e.target)) {
                selectBox.classList.remove('active');
            }
        });
    });
</script>

</body>
</html>