<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/common.css">
    <style>
        .common-container {
            padding: 1dvb;
        }
    </style>
</head>
<body>









<div class="common-container">

    <button class="btn-orange">
        강아지 만나러 가기
    </button>

    <br><br>

    <button class="btn-goto">
        검사하러 가기
    </button>

    <br>

    <img src="/img/icon/button/paw-icon.svg" alt="paw-icon">


    <div class="pw-title">
        일정 관리
    </div>


    <div class="dog-filter">
        <img src="/img/icon/dog-filter/dog.svg" alt="dog-icon">
        견종
    </div>

    <br>

    <div class="dog-filter">
        <img src="/img/icon/dog-filter/bone.svg" alt="bone-icon">
        성격
    </div>

    <br>

    <div class="dog-filter">
        <img src="/img/icon/dog-filter/foot.svg" alt="foot-icon">
        견BTI
    </div>

    <br>

    <div class="dog-filter-calendar" >
        <img src="/img/icon/dog-filter/birth.svg" alt="calendar-icon">
        2015년 1월생
    </div>

    <br>

    <div class="dog-filter">
        <img src="/img/icon/dog-filter/dribbble-ball.svg" alt="dribbble-ball-icon">
        좋아하는 놀이
    </div>

    <br>

    <div class="dog-filter">
        <img src="/img/icon/dog-filter/puzzle.svg" alt="puzzle-icon">
        좋아하는 놀이
    </div>

    <br>

    <div class="dog-filter">
        <img src="/img/icon/dog-filter/weight.svg" alt="weight-icon">
        체중
    </div>

    <br>

    <div class="dog-filter">
        <img src="/img/icon/dog-filter/clock.svg" alt="clock-icon">
        산책 시작 시간
    </div>

    <br>

    <img src="/img/icon/mating.svg" alt="mating-icon">

    <img src="/img/icon/like.svg" alt="like-icon">

    <img src="/img/icon/messege.svg" alt="messege-icon">

    <img src="/img/icon/wechat-logo.svg" alt="wechat-logo-icon">

    <img src="/img/icon/alarm-warning-line.svg" alt="alarm-warning-line-icon">

    <img src="/img/icon/x-circle.svg" alt="x-circle-icon">

    <img src="/img/icon/rollback-arrow.svg" alt="rollback-arrow-icon">

    <button class="btn-a">
        취소
    </button>

    <button class="btn-b">취소2</button>

    <button class="btn-confirm">
        확인
    </button>
    <button class="btn-delete">
        삭제
    </button>
    <button class="btn-confirm" style="width: 100px; height: 40px;">
        중복 확인
    </button>


    <img src="/img/icon/search.svg" alt="search-icon">


    <input type="checkbox" class="checkbox-basic">
    <input type="checkbox" class="checkbox-basic" checked>

    <!-- 라운드 체크박스 스타일 -->
    <input type="checkbox" class="checkbox-round">
    <input type="checkbox" class="checkbox-round" checked>

    <!-- 빨간색 라운드 체크박스 스타일 -->
    <input type="checkbox" class="checkbox-round red">
    <input type="checkbox" class="checkbox-round red" checked>

    <!-- 빨간색 기본 체크박스 스타일 -->
    <input type="checkbox" class="checkbox-basic red">
    <input type="checkbox" class="checkbox-basic red" checked>

    <br>

    <!-- 체크 표시 스타일 -->
    <input type="radio" name="radio1" class="radio-basic">
    <input type="radio" name="radio1" class="radio-basic" checked>

    <!-- 동그라미 표시 스타일 -->
    <input type="radio" name="radio2" class="radio-round">
    <input type="radio" name="radio2" class="radio-round" checked>




    <input type="text" class="input-a" placeholder="ㅁㄴㅇㄴㅁㅇㄴㅁㄹ " style="width: 500px;">
    <input type="text" class="input-a" placeholder="ㅁㄴㅇㄴㅁㅇㄴㅁㄹ ">
    <textarea class="input-a" placeholder="상세한 사유를 같이 입력하시면 도움이 됩니다." style="width: 350px; height: 150px;"></textarea>




    <div class="title-s">친구 후보</div>
    <div class="title-s">교배 후보</div>


    <br>

    <button class="btn-m-down">
    </button>

    <br>

    <div class="select-box">
        <div class="select-box-selected">펫라이프 2구 바스락 터널 블루</div>
        <div class="select-box-options">
            <div class="select-box-option">펫라이프 2구 바스락 터널 블루</div>
            <div class="select-box-option">펫라이프 3구 바스락 터널 레드</div>
            <div class="select-box-option">펫라이프 4구 바스락 터널 그린</div>
        </div>
    </div>


    <button class="btn-status">변경</button>

    <br><br>

    <button class="btn-status-big">주문 취소</button>

    <br><br>

    <button class="btn-orange-dark">배송지 설정</button>
    <button class="btn-orange-dark">결제하기</button>

    <br><br>

    <div class="modal">
        <button class="modal-close"></button>
        <div class="modal-title">모달제목</div>
        <div class="modal-content">
            <!-- 모달 내용이 들어갈 자리 -->sdfsdf
        </div>
        <div class="modal-footer">
            <button class="btn-orange-dark" style="color: black;">결제하기</button>
        </div>
    </div>


    <br><br>

    <div class="modal" style="width: 330px; height: 150px;">
        <button class="modal-close" style="width: 15px; height: 15px; top: 18px; right: 18px;"></button>
        <div class="modal-content-center">
            장바구니에 상품을 담았습니다.
        </div>
        <div class="modal-footer">
            <button class="btn-b">장바구니 바로가기</button>
        </div>
    </div>


    <br><br>

    <div class="modal" style="width: 330px; height: 150px;">
        <button class="modal-close" style="width: 15px; height: 15px; top: 18px; right: 18px;"></button>
        <div class="modal-content-center">
            주문을 취소하시겠습니까?
        </div>
        <div class="modal-footer">
            <button class="modal-confirm">확인</button>
            <button class="modal-cancel">취소</button>
        </div>
    </div>





</div>

<script>
    document.querySelectorAll('.select-box').forEach(selectBox => {
        const selected = selectBox.querySelector('.select-box-selected');
        const options = selectBox.querySelector('.select-box-options');

        // 선택 박스 클릭 시 옵션 표시/숨김
        selectBox.addEventListener('click', (e) => {
            selectBox.classList.toggle('active');
        });

        // 옵션 선택 시 값 변경
        options.addEventListener('click', (e) => {
            if (e.target.classList.contains('select-box-option')) {
                selected.textContent = e.target.textContent;
            }
        });

        // 외부 클릭 시 옵션 숨김
        document.addEventListener('click', (e) => {
            if (!selectBox.contains(e.target)) {
                selectBox.classList.remove('active');
            }
        });
    });
</script>


</body>
</html>