<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" href="/css/ajy/join.css" />
    <link rel="stylesheet" href="/css/ajy/matching_document.css" />
    <title>회원가입</title>
</head>
<body layout:fragment="content" style="min-height: 100vh">
<div class="container">
    <div class="join-container">
        <div class="container_box">
            <div class="header">교배 매칭 시, 선택 서류</div>
            <div class="form-container">
                <div class="sidebar">

                    <div class="progress-container">
                        <div class="step">
                            <div class="circle"></div>
                            <div class="text">회원가입</div>
                        </div>
                        <div class="step">
                            <div class="circle"></div>
                            <div class="text">강아지 프로필 등록(1개 필수 등록)</div>
                        </div>
                        <div class="step">
                            <div class="circle"></div>
                            <div class="text">매칭 선택(친구/ 교배 중 택 1)</div>
                        </div>
                        <div class="step">
                            <div class="circle-container">
                                <div class="inner-circle completed"></div>
                            </div>
                            <div class="text">교배 매칭 시, 선택 서류</div>
                        </div>
                    </div>
                    <div style="margin-top: 200px"></div>
                    <img src="/img/dog.png" alt="강아지 이미지">
                </div>

                <div class="divider" style="height: 900px;"></div>

                <div class="form-fields">
                    <form id="step4Form">
                    <div class="join-container">
                            <!-- 제목 및 설명 -->
                            <h2>교배 매칭 시, 선택 서류</h2>
                            <p class="document-info">
                                <span class="info-icon">⚠️</span> 파일을 업로드 하지 않아도 다음으로 넘어갈 수 있습니다.<br>
                                파일을 업로드하는 추후 마이페이지에서 설정할 수 있습니다.
                            </p>

                            <!-- 파일 업로드 리스트 -->
                            <div class="file-upload">
                                <label>혈통증명서</label>
                                <div class="file-input-group">
                                    <input type="text" id="fileName1" name="fileName1" class="file-name" placeholder="선택한 파일명" readonly style="width: 76%;">
                                    <input type="file" id="fileInput1" name="fileInput1" class="file-input" accept=".pdf, .jpg, .png" style="display: none;">
                                    <button type="button" class="file-button" onclick="openFileDialog('fileInput1')">파일 찾기</button>
                                </div>
                            </div>

                            <div class="file-upload">
                                <label>예방접종 증명서</label>
                                <div class="file-input-group">
                                    <input type="text" id="fileName2" name="fileName2" class="file-name" placeholder="선택한 파일명" readonly style="width: 76%;">
                                    <input type="file" id="fileInput2" name="fileInput2" class="file-input" accept=".pdf, .jpg, .png" style="display: none;">
                                    <button type="button" class="file-button" onclick="openFileDialog('fileInput2')">파일 찾기</button>
                                </div>
                            </div>

                            <div class="file-upload">
                                <label>건강검진 증명서</label>
                                <div class="file-input-group">
                                    <input type="text" id="fileName3" name="fileName3" class="file-name" placeholder="선택한 파일명" readonly style="width: 76%;">
                                    <input type="file" id="fileInput3" name="fileInput3" class="file-input" accept=".pdf, .jpg, .png" style="display: none;">
                                    <button type="button" class="file-button" onclick="openFileDialog('fileInput3')">파일 찾기</button>
                                </div>
                            </div>

                            <div class="button-container">
                                <button id="preButton" type="button">이전</button>
                                <input type="submit" id="joinButton" style="width: 510px" value="회원가입"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/ajy/matching_document.js"></script>
</body>
</html>