<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/css/cys/main.css">
</head>
<body layout:fragment="content" style="min-height: 100vh">
<div class="all-container">

    <div class="main-first">
        <img src="/img/여행강쥐gd.png" alt="메인1" class="main1" width="1324">
        <div class="main1-inner">
            <img src="/img/메인로고.png" alt="메인1" class="main1-logo">
            <div class="text">
                <p style="color: white; font-weight: bold">가까운 곳에서 새로운 친구를 만나고 싶다면?<br>지금 바로 강아지 친구를 찾아 즐거운 산책을 떠나보세요!
                </p>
                <p style="color: white; font-weight: bold">우리 강아지에게 딱 맞는 산책 친구를 찾아보세요!<br>성격과 활동 스타일을 고려한 맞춤 매칭으로<br>강아지가
                    더 즐겁고 행복한 시간을 보낼 수 있어요.</p>
            </div>
            <button class="btn-orange" style="align-self: center; margin-top: 30px" onclick="goMatching()">강아지 만나러 가기</button>
        </div>
    </div>

    <th:block th:if="${user != null}">
        <div class="main-profile" style="height: 1024px">
            <div class="profile-inner">
                <h1 style="font-weight: bold">나의 프로필</h1>
                <p style="font-size: 24px">프로필을 업데이트하고 더 많은 친구를 만나보세요!</p>
                <div class="profile-box">
                    <div class="profile-img-box">
                        <img th:src="${dog.profileUrl}" alt="" class="profile-img">
                    </div>
                    <div class="profile-text">
                        <p style="font-size: 30px" th:text="${dog.dogName}"></p>
                        <p style="font-size: 24px">
                            <img src="/img/icon/dog-filter/foot.svg" alt="foot-icon" width="25">
                            강아지 소개글
                        </p>
                        <th:block th:if="${dogProfile.dog_intro != null and not #strings.isEmpty(dogProfile.dog_intro)}">
                            <p class="introduce" style="font-size: 20px; color: #585858" th:text="${dogProfile.dog_intro}"></p>
                        </th:block>
                        <th:block th:if="${dogProfile.dog_intro == null or #strings.isEmpty(dogProfile.dog_intro)}">
                            <p class="introduce" style="font-size: 20px; color: #585858">
                                강아지 소개글을 작성해보세요!!
                            </p>
                        </th:block>
                        <div class="dog-characteristic">
                            <span class="character" th:text="${dogProfile.breed}"></span>
                            <th:block th:if="${dogProfile.personality_type != null}">
                                <span class="dbti" th:text="${dogProfile.personality_type}"></span>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="mypageLink">
                    <a href="/editUserPassword" class="mypage" style="font-size: 20px">마이페이지로 가기 <img src="/img/icon/mainArrow.svg" alt="" width="25"></a>
                </div>
            </div>
        </div>

        <div class="main-dbti" style="height: 1024px">
            <div class="dbti-inner">
                <img src="/img/Welcome%20to%20견bti.png" alt="">
                <p style="font-size: 24px">세상에서 제일 소중한 반려견! 과연 어떤 성격을 가지고 있을까요?</p>
                <p style="font-size: 24px">지금 바로 견bti 테스트를 통해 우리 강아지의 성격을 알아보고,<br>
                    비슷한 성격의 친구도 찾아보세요!</p>
                <button class="btn-goto" style="align-self: center; margin-top: 30px" onclick="goDbti()">검사하러 가기</button>
            </div>
            <img src="/img/dbti-main.png" alt="" class="main3-img">
        </div>
    </th:block>

        <div class="main-map" style="height: 1029px">
            <img src="/img/main2-background.png" alt="" class="main4" id="main4-background">
            <div class="main4-inner">
                <button class="map-btn">지도 찾기</button>
                <h1 style="font-weight: bold">멍토피아</h1>
                <p style="font-size: 30px;">강아지들의 작은 세상, 우리 동네 친구 찾기!</p>
                <p style="font-size: 24px">강아지도 친구가 필요해요!<br>
                    멍토피아는 우리 동네의 댕댕이 친구들을 지도로 한눈에 보여주고,<br>
                    성격이 잘 맞는 친구와 산책 약속까지 잡을 수 있는 귀여운 공간이에요.</p>
            </div>
            <img src="/img/도베르만.png" alt="main4" class="main4-img">
        </div>


    <div class="main-matching" style="width: 1920px; height: 1024px; ">
        <h1 style="font-weight: bold">댕개팅</h1>
        <p style="font-size: 30px">마음에 드는 친구와 간단한 대화를 나누고 산책 약속을 잡아보세요!</p>
        <img src="/img/matchingmain.png" alt="" class="main5-img">
        <p style="font-size: 24px; text-align: center">
            강아지의 성격과 놀이 스타일에 맞춘 맞춤형 매칭 서비스<br>
            성격 분석을 통해 내 강아지와 어울리는 친구를 찾아드립니다</p>
    </div>

    <div class="main-store" style="width: 1920px; height: 1024px">
        <img src="/img/main6-background.png" alt="" class="main6">
        <div class="store-content">
            <img src="/img/store-main.png" alt="" width="573">
            <div class="detail">
                <h1 style="font-weight: bold">사랑스러운 반려동물을 위한 올인원 스토어</h1>
                <button class="map-btn">BEST</button>
                <img src="/img/storeImg.png" alt="">
                <button class="btn-goto" style="align-self: center; top: 10%" onclick="goStore()">스토어 바로가기</button>
            </div>
        </div>
    </div>

    <div class="main-volunteer" style="height: 1024px">
        <h1 style="font-weight: bold">따뜻한 손길, 행복한 발걸음</h1>
        <p style="font-size: 26px">
            유기동물에게 따뜻한 손길을! 봉사를 통해 새로운 희망을 선물하고,<br>
            평생의 가족을 찾는 여정에 함께해 주세요.</p>
        <div class="volunteer-list">
            <div class="volunteer" id="volunteer1">
                <img src="/img/강릉%20동물보호센터.jpg" alt="">
                <p>강릉 동물보호센터</p>
                <a href="https://www.gnanilove.or.kr/www/index.do" style="color: gray">https://www.gnanilove.or.kr/www/index.do</a>
            </div>
            <div class="volunteer" id="volunteer2">
                <img src="/img/양평군 품 유기동물보호센터.jpg" alt="">
                <p>양평군 품 유기동물보호센터</p>
                <a href="https://www.animal.go.kr/front/index.do">https://www.animal.go.kr/front/index.do</a>
            </div>
            <div class="volunteer" id="volunteer3">
                <img src="/img/통영%20유기동물보호소.jpg" alt="">
                <p>통영 유기동물 보호센터</p>
                <a href="https://tongyeong.go.kr/pet/main/main.php">https://tongyeong.go.kr/pet/main/main.php</a>
            </div>
        </div>
    </div>


</div>

<div class="container">

    <div class="row mobile-main">
        <div class="col-sm-12" onclick="goMatching()">
            <img src="/img/main1.jpg" class="img-fluid" alt="친구매칭">
        </div>
        <th:block th:if="${user != null}">
            <div class="col-sm-12" onclick="goDbti()">
                <img src="/img/main2.jpg" class="img-fluid" alt="견bti">
            </div>
        </th:block>
        <div class="col-sm-12">
            <img src="/img/main3.jpg" class="img-fluid" alt="지도찾기">
        </div>
        <div class="col-sm-12">
            <img src="/img/main4.jpg" class="img-fluid" alt="댕개팅">
        </div>
        <div class="col-sm-12" onclick="goStore()">
            <img src="/img/main5.jpg" class="img-fluid" alt="스토어">
        </div>
        <div class="col-sm-12">
            <img src="/img/main6.jpg" class="img-fluid">
        </div>

        <div class="container">
            <div class="row justify-content-center align-items-center text-center">
                <div class="volunteer-mobile col-sm-12 d-flex flex-column align-items-center">
                    <img src="/img/강릉%20동물보호센터.jpg" alt="" class="img-fluid">
                    <p>강릉 동물보호센터</p>
                    <a href="https://www.gnanilove.or.kr/www/index.do" class="text-muted">
                        https://www.gnanilove.or.kr/www/index.do
                    </a>
                </div>
                <div class="volunteer-mobile col-sm-12 d-flex flex-column align-items-center">
                    <img src="/img/양평군 품 유기동물보호센터.jpg" alt="" class="img-fluid">
                    <p>양평군 품 유기동물보호센터</p>
                    <a href="https://www.animal.go.kr/front/index.do" class="text-muted">
                        https://www.animal.go.kr/front/index.do
                    </a>
                </div>
                <div class="volunteer-mobile col-sm-12 d-flex flex-column align-items-center">
                    <img src="/img/통영%20유기동물보호소.jpg" alt="" class="img-fluid">
                    <p>통영 유기동물 보호센터</p>
                    <a href="https://tongyeong.go.kr/pet/main/main.php" class="text-muted">
                        https://tongyeong.go.kr/pet/main/main.php
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>



<script>
    function goMatching(){
        window.location.href = '/matching/friend';
    }

    function goDbti(){
        window.location.href = '/dbti-main';
    }

    function goStore(){
        window.location.href='/store';
    }
</script>
</body>
</html>
