<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogpaws.backend.repository.dao.hyepin.DogMatchDao">

    <insert id="insertFilter">
        -- 강아지 필터 등록
        INSERT INTO tbl_dog_match (
            dog_id, is_mix, breed_gbn_cd, weight, weight_category,
            dog_type_code_gbn_cd,
            dog_personal_gbn_cd_1, dog_personal_gbn_cd_2, dog_personal_gbn_cd_3,
            dog_personal_gbn_cd_4, dog_personal_gbn_cd_5,
            dog_play_gbn_cd_1, dog_play_gbn_cd_2, dog_play_gbn_cd_3,
            dog_play_gbn_cd_4, dog_play_gbn_cd_5,
            walk_start_time, walk_end_time, walk_days,
            blood_test_certified, vaccination_certified, health_record_certified, match_type
        ) VALUES (
            #{dogId}, #{isMix},
            #{breedGbnCd}, #{weight}, #{weightCategory},
            #{dogTypeCodeGbnCd},

            <!-- dog_personal_gbn_cd 리스트를 고정된 컬럼에 맞춰 삽입 -->
            <foreach collection="dogPersonalGbnCdList" item="item" index="index" open="" close="" separator=",">
                #{item}
            </foreach>,

            <!-- dog_play_gbn_cd 리스트를 고정된 컬럼에 맞춰 삽입 -->
            <foreach collection="dogPlayGbnCdList" item="item" index="index" open="" close="" separator=",">
                #{item}
            </foreach>,

            #{walkStartTime}, #{walkEndTime}, #{walkDays},
            #{bloodTestCertified}, #{vaccinationCertified}, #{healthRecordCertified}, #{matchType})
    </insert>


    <update id="updateFilter">
        -- 강아지 필터 업뎃
        UPDATE tbl_dog_match
        SET
            is_mix =  #{isMix},
            breed_gbn_cd = #{breedGbnCd}, weight = #{weight}, weight_category = #{weightCategory},
            dog_type_code_gbn_cd = #{dogTypeCodeGbnCd},
            dog_personal_gbn_cd_1 = #{dogPersonalGbnCd1}, dog_personal_gbn_cd_2 = #{dogPersonalGbnCd2},
            dog_personal_gbn_cd_3 = #{dogPersonalGbnCd3}, dog_personal_gbn_cd_4 = #{dogPersonalGbnCd4},
            dog_personal_gbn_cd_5 = #{dogPersonalGbnCd5}, dog_play_gbn_cd_1 = #{dogPlayGbnCd1},
            dog_play_gbn_cd_2 = #{dogPlayGbnCd2}, dog_play_gbn_cd_3 = #{dogPlayGbnCd3},
            dog_play_gbn_cd_4 = #{dogPlayGbnCd4}, dog_play_gbn_cd_5 = #{dogPlayGbnCd5},
            walk_start_time = #{walkStartTime}, walk_end_time = #{walkEndTime}, walk_days = #{walkDays},
            blood_test_certified = #{bloodTestCertified}, vaccination_certified = #{vaccinationCertified},
            health_record_certified = #{healthRecordCertified}
        WHERE dog_id = #{dogId} AND match_type = #{matchType}
    </update>

    <delete id="deleteFilter">
        -- 강아지 필터 삭제
        DELETE FROM tbl_dog_match
        WHERE dog_id = #{dogId} AND match_type = #{matchType}
    </delete>

    <select id="getFilterBydogIdAndMatchType" resultType="com.dogpaws.backend.dto.hyepin.FilterDto">
        -- 강아지 필터 정보
        SELECT
            dm.dog_match_id,
            dm.dog_id,
            dm.breed_gbn_cd,
            dm.is_mix,
            dm.weight,
            dm.weight_category,
            dm.dog_type_code_gbn_cd,
            dm.walk_start_time,
            dm.walk_end_time,
            dm.walk_days,
            dm.blood_test_certified,
            dm.vaccination_certified,
            dm.health_record_certified,
            dm.match_type,

        GROUP_CONCAT(DISTINCT g1.gubn_name) AS dog_personal,
        GROUP_CONCAT(DISTINCT g2.gubn_name) AS dog_play,

        CONCAT(
            IFNULL(dm.dog_personal_gbn_cd_1, ''), ',',
            IFNULL(dm.dog_personal_gbn_cd_2, ''), ',',
            IFNULL(dm.dog_personal_gbn_cd_3, ''), ',',
            IFNULL(dm.dog_personal_gbn_cd_4, ''), ',',
            IFNULL(dm.dog_personal_gbn_cd_5, '')
            ) AS dog_personal_gbn_cd,

        CONCAT(
            IFNULL(dm.dog_play_gbn_cd_1, ''), ',',
            IFNULL(dm.dog_play_gbn_cd_2, ''), ',',
            IFNULL(dm.dog_play_gbn_cd_3, ''), ',',
            IFNULL(dm.dog_play_gbn_cd_4, ''), ',',
            IFNULL(dm.dog_play_gbn_cd_5, '')
            ) AS dog_play_gbn_cd,

        g3.gubn_name AS breed,

        g4.gubn_name AS dog_type

        FROM tbl_dog_match dm
        LEFT JOIN
            tbl_gubn g1 ON g1.group_code = 'dog_personal_code'
            AND (g1.gubn_code = dm.dog_personal_gbn_cd_1
            OR g1.gubn_code = dm.dog_personal_gbn_cd_2
            OR g1.gubn_code = dm.dog_personal_gbn_cd_3
            OR g1.gubn_code = dm.dog_personal_gbn_cd_4
            OR g1.gubn_code = dm.dog_personal_gbn_cd_5)
        LEFT JOIN
            tbl_gubn g2 ON g2.group_code = 'dog_play_code'
            AND (g2.gubn_code = dm.dog_play_gbn_cd_1
            OR g2.gubn_code = dm.dog_play_gbn_cd_2
            OR g2.gubn_code = dm.dog_play_gbn_cd_3
            OR g2.gubn_code = dm.dog_play_gbn_cd_4
            OR g2.gubn_code = dm.dog_play_gbn_cd_5)
        -- breed_code에 해당하는 gubn_name을 가져오는 조인
        LEFT JOIN
            tbl_gubn g3 ON g3.group_code = 'breed_code'
            AND g3.gubn_code = dm.breed_gbn_cd
        LEFT JOIN
            tbl_gubn g4 ON g4.group_code = 'dog_type_code'
        AND g4.gubn_code = dm.dog_type_code_gbn_cd
        WHERE dm.dog_id = #{dogId} AND dm.match_type = #{matchType}
        GROUP BY dm.dog_id;
    </select>

    <select id="getMatchingCriteria" resultType="com.dogpaws.backend.dto.hyepin.MatchingCriteriaDto" parameterType="map">
        -- 매칭 필터 가져오기
        SELECT
        m.dog_id,
        m.is_mix,
        m.breed_gbn_cd,
        m.weight,
        m.weight_category,
        m.walk_days,
        m.dog_type_code_gbn_cd,
        m.blood_test_certified,
        m.vaccination_certified,
        m.health_record_certified,
        CONCAT_WS(',', m.dog_personal_gbn_cd_1, m.dog_personal_gbn_cd_2, m.dog_personal_gbn_cd_3, m.dog_personal_gbn_cd_4, m.dog_personal_gbn_cd_5) AS dogPersonalGbnCds,
        CONCAT_WS(',', m.dog_play_gbn_cd_1, m.dog_play_gbn_cd_2, m.dog_play_gbn_cd_3, m.dog_play_gbn_cd_4, m.dog_play_gbn_cd_5) AS dogPlayGbnCds,
        m.walk_start_time,
        m.walk_end_time
        FROM tbl_dog_match m
        INNER JOIN tbl_dogs d ON m.dog_id = d.dog_id
        WHERE m.dog_id = #{dogId}
        AND d.username = #{username}
        AND m.match_type = #{matchType}
    </select>

    <select id="getDogMatchList" resultType="com.dogpaws.backend.dto.hyepin.DogCandidateDto">
        -- 강아지 매칭 리스트
        SELECT DISTINCT
        d.dog_id, d.username, d.dog_name, d.breed, g.gubn_name AS breedName, d.is_mix, d.gender, d.is_neutered,
        d.weight, d.personality_type, d.dog_intro, d.personality_type, d.walk_start_time,
        d.walk_end_time, d.walk_days, d.profile_url, d.blood_test_certified, d.vaccination_certified, d.health_record_certified,
        (SELECT u.address FROM tbl_users u WHERE u.username = d.username LIMIT 1) AS address,
        LEFT((SELECT u.address FROM tbl_users u WHERE u.username = d.username LIMIT 1), 2) AS dog_region,
        LEFT((SELECT u.address FROM tbl_users u WHERE u.username = #{username} LIMIT 1), 2) AS user_region
        FROM tbl_dogs d
        JOIN tbl_gubn g
        ON g.group_code = 'breed_code'
        AND g.gubn_code = d.breed
        CROSS JOIN (SELECT DISTINCT breed_gbn_cd, is_mix
        FROM tbl_dog_match
        WHERE dog_id = 1 LIMIT 1) m
        WHERE d.username &lt;&gt; #{username}
        -- 품종 필터: 후보 강아지의 품종과 현재 강아지의 필터 값이 일치하거나, 필터가 설정되지 않은 경우
        AND (d.breed = m.breed_gbn_cd OR m.breed_gbn_cd IS NULL)
        -- 믹스 여부 필터: 현재 강아지의 필터가 'N'이면 후보도 'N', 아니면 'Y'인 경우 모두 허용
        AND (
        (m.is_mix = 'N' AND d.is_mix = 'N')
        OR m.is_mix = 'Y'
        )
        AND (
            #{matchType} &lt;&gt; 'P'
            OR (
            d.is_mating_available = 'Y'
            AND (#{bloodTestCertified} &lt;&gt; 'Y' OR d.blood_test_certified = 'Y')
            AND (#{vaccinationCertified} &lt;&gt; 'Y' OR d.vaccination_certified = 'Y')
            AND (#{healthRecordCertified} &lt;&gt; 'Y' OR d.health_record_certified = 'Y')
            )
        )
        -- 지역 필터: 후보 강아지의 주소 앞 2글자와 현재 사용자의 주소 앞 2글자가 동일한 경우 우선 처리
        ORDER BY
        -- 같은 지역이면 1, 아니면 0을 부여하여 내림차순 정렬하면, 같은 지역이 우선으로 오고 그 다음에 다른 지역들이 무작위로 정렬
        (CASE
        WHEN LEFT((SELECT u.address FROM tbl_users u WHERE u.username = d.username LIMIT 1), 2) =
        LEFT((SELECT u.address FROM tbl_users u WHERE u.username = #{username} LIMIT 1), 2)
        THEN 1
        ELSE 0
        END) DESC,
        RAND()
    </select>

    <select id="countPersonalMatches" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM tbl_dog_personal
        WHERE dog_id = #{dogId}
        AND UPPER(TRIM(dog_personal_gbn_cd)) IN
        <foreach collection="dogPersonalGbnCdsList" item="code" open="(" separator="," close=")">
            UPPER(TRIM(#{code}))
        </foreach>
    </select>

    <select id="countPlayMatches" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM tbl_dog_play
        WHERE dog_id = #{dogId}
        AND UPPER(TRIM(dog_play_gbn_cd)) IN
        <foreach collection="dogPlayGbnCdsList" item="code" open="(" separator="," close=")">
            UPPER(TRIM(#{code}))
        </foreach>
    </select>



</mapper>
