<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="configFragment">
  <!--  CSS   -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
  <!--  JS   -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script th:src="@{/js/common/api.js}"></script>
  <script th:src="@{/js/rim/admin_api.js}"></script>
  <script th:src="@{/js/rim/admin_common.js}"></script>

</th:block>
</html>