<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer" class="footer-container">
    <!-- 회색 줄 -->
    <div class="footer-divider"></div>
    <div class="footer-web">
        <div class="footer-text" style="display: flex;">
            <div>DogPaws 소개</div>
            <div>개인정보처리방침</div>
            <div>이용약관</div>
            <div class="footer-bar">|</div>
            <div>친구매칭</div>
            <div>교배매칭</div>
            <div>채팅하기</div>
            <div>스토어</div>
            <div>커뮤니티</div>
            <div class="footer-bar">|</div>
            <div>문의하기 <i class="bi bi-chat-dots"></i></div>
        </div>
        <!-- 로고, 화면 하단 중앙에 위치 -->
        <div style="display: flex; align-items: center; justify-content: center; gap: 10px;">
            <div class="footer-logo">
                <img src="/img/로고.png" alt="로고이미지" />
            </div>
            <div class="footer-bar">
                ⓒ Dog Inc. All Rights Reserved
            </div>
        </div>
    </div>

    <div class="footer-mobile">
        <div class="footer-text-mobile" style="display: flex; justify-content: center;">
            <div>DogPaws 소개</div>
            <div>개인정보처리방침</div>
            <div>이용약관</div>
            <div class="footer-bar">|</div>
            <div>문의하기 <i class="bi bi-chat-dots"></i></div>
        </div>
        <!-- 로고, 화면 하단 중앙에 위치 -->
        <div class="footer-logo-mobile" style="display: flex; align-items: center; justify-content: center; gap: 10px;">
            <div>
                <img src="/img/로고.png" alt="로고이미지" />
            </div>
            <div class="footer-bar-mobile">
                ⓒ Dog Inc. All Rights Reserved
            </div>
        </div>
    </div>
</footer>
</html>
