<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-mypage}">
<head>
    <title>장바구니 목록</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/rim/store/store.css">
    <link rel="stylesheet" href="/css/rim/store/cart_list.css">
    <script src="https://js.tosspayments.com/v2/standard"></script>
</head>
<body layout:fragment="content" style="min-height: 100vh; ">
<div class="container" style="justify-content: left; padding-top: 28px;     margin: 0px 141px 0px 75px;" >
    <div class="pw-title" style="width: 100%; justify-content: left; border-color: #DDBC98">
        <div style="height: 70px; width: 150px; border-bottom: 8px; justify-content: left; line-height: 65px">
            장바구니
        </div>
    </div>
    <!-- 네비게이션 경로 -->
    <div class="nav-path">
        <strong style="color: #EF7E06;">01 장바구니</strong> > 02 주문결제 > 03 결제완료
    </div>

</div>

</div>
</body>
</html>