<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <th:block th:replace="/layout-parts/config-admin :: configFragment"></th:block>
  <title>Title</title>
    <style>
        .body-container.hide-sidebar aside {
            display: none;
        }
        .body-container.hide-sidebar .content {
            margin-left: 0;
            width: 100%;
        }
    </style>
</head>

<!-- Header 영역 -->
<!--  <header th:replace="/layout-parts/header-user :: header"></header>-->

    <body>
    <div class="body-container" th:classappend="${hideSidebar} ? 'hide-sidebar'">
<!--        <aside th:replace="/layout-parts/sidebar-admin :: sidebar"></aside>-->
        <div layout:fragment="content" class="content"></div>
    </div>
    </body>


<!-- Footer 영역 -->

<!--  <footer th:replace="/layout-parts/footer-user :: footer"></footer>-->

</html>
