<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <link rel="stylesheet" href="/css/ajy/board/board_register.css" />
  <link rel="stylesheet" href="/css/ajy/board/board_detail.css" />
  <title>게시판</title>
</head>
<body layout:fragment="content" style="min-height: 100vh">
<div class="container">
  <div class="board-container">
    <!-- 상단 메뉴 -->
    <div th:replace="~{ajy/board/board_header :: boardHeader}"></div>

    <div style="display: flex; justify-content: space-between; align-items: center;">
      <input type="hidden" name="boardId" id="boardId" th:value="${boardId}"/>
      <input type="hidden" name="category" id="category" th:value="${category}"/>
      <input type="hidden" name="username" id="username" th:value="${user!= null ? user.username : null}"/>
      <input type="hidden" name="nickname" id="nickname" th:value="${user!= null ? user.nickname : null}"/>
      <div class="post-header" th:text="${board.title}"></div>
      <!-- 수정 및 삭제 버튼 -->
      <div class="button-group" th:if="${user!= null and user.username == board.username}">
        <button type="button" class="btn-b" style="height: 35px; color: black"
                id="editButton" th:data-board-id="${boardId}" th:data-category="${category}">
          수정
        </button>

        <button type="button" class="btn-delete" id="deleteBoardBtn">삭제</button>
      </div>
    </div>

    <!-- 작성자 정보 및 날짜 -->
    <div class="post-meta">
      <div class="post-meta-left">
        <strong>[[${board.nickname}]]</strong> <img src="/img/icon/dog-filter/clock.svg" alt="clock-icon">
        <span th:text="${#strings.replace(board.created_at, 'T', ' ')}"></span>
      </div>
      <div class="post-meta-right">
        조회수 <strong>[[${board.view_count}]]</strong> | 댓글수 <strong>6</strong>
      </div>
    </div>

    <!-- 게시글 내용 -->
    <div class="post-content" th:utext="${board.content}"></div>

    <!-- 댓글 목록 -->
    <div class="comments-section">
      <h3><span id="commentTotal" th:text="${commentList.size()}"></span> 개의 댓글</h3>
      <table class="comment-table">
        <tbody id="commentList">
          <tr th:if="${commentList.size() == 0 }">
             <td colspan="2" style="font-weight: normal">등록된 댓글이 없습니다.</td>
            <td></td>
          </tr>

          <tr th:if="${commentList.size() > 0 }" th:each="comment : ${commentList}">
            <td th:text="${comment.nickname}"></td>
            <td th:text="${comment.comment}"></td>
            <td>
              <span th:text="${#strings.replace(comment.created_at, 'T', ' ')}"></span>
              <br> <!-- 줄바꿈 추가 -->
              <th:block th:if="${user!=null and comment.username == user.username}">
                <a href="#" >수정</a> |
                <a href="#" id="commentDeleteBtn" th:data-comment-id="${comment.comment_id}" class="delete-comment-btn">삭제</a>
              </th:block>
            </td>

          </tr>

        </tbody>
      </table>
    </div>

    <!-- 댓글 -->
    <th:block th:if="${user != null}">
    <form id="commentForm">
      <textarea id="comment" name="comment" style="width: 100%;" placeholder="댓글을 입력해주세요"></textarea>
      <input type="submit" class="btn-b" style="width: 95px; height: 35px; margin-bottom: 10px" value="작성"/>
    </form>
    </th:block>
  </div>
</div>
<script src="/js/ajy/board/board_detail.js"></script>
</body>
</html>