<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <link rel="stylesheet" href="/css/ajy/board/board_register.css" />
  <link rel="stylesheet" href="/css/ajy/board/board_detail.css" />
  <title>게시판</title>
</head>
<body layout:fragment="content" style="min-height: 100vh">
<div class="container">
  <div class="board-container">
    <!-- 상단 메뉴 -->
    <div th:replace="~{ajy/board/board_header :: boardHeader}"></div>

    <div style="display: flex; justify-content: space-between; align-items: center;">
      <input type="hidden" name="boardId" id="boardId" th:value="${boardId}"/>
      <input type="hidden" name="category" id="category" th:value="${category}"/>
      <input type="hidden" name="username" id="username" th:value="${user!= null ? user.username : null}"/>
      <input type="hidden" name="nickname" id="nickname" th:value="${user!= null ? user.nickname : null}"/>
      <div class="post-header" th:text="${board.title}"></div>
      <!-- 수정 및 삭제 버튼 -->
      <div class="button-group" th:if="${user!= null and user.username == board.username}">
        <button type="button" class="btn-b" style="height: 35px; color: black"
                id="editButton" th:data-board-id="${boardId}" th:data-category="${category}">
          수정
        </button>

        <button type="button" class="btn-delete" id="deleteBoardBtn">삭제</button>
      </div>
    </div>

    <!-- 작성자 정보 및 날짜 -->
    <div class="post-meta">
      <div class="post-meta-left">
        <strong style="position: relative;">
          <a href="javascript:void(0);" class="username" th:data-username="${board.username}" th:data-boardId="${board.boardId}">
            <span th:text="${board.nickname}"></span>
          </a>

          <div class="modal" th:id="|modal-${board.username}-${board.boardId}|">
            <h6>등록된 반려견</h6>
            <ul class="petList" th:id="|petList-${board.username}-${board.boardId}|" th:each="dog : ${board.dog_list}">
              <li>
                <a th:href="@{/dog/detail/{dogId}(dogId=${dog.dog_id})}">
                  <img th:src="${dog.profile_url}" style="width: 50px; height: 50px; border-radius: 50%;" onerror="this.src='/img/dog_foot2.png';">
                </a>
                [[${dog.dog_name}]]
              </li>
            </ul>
          </div>

        </strong>
        <img src="/img/icon/dog-filter/clock.svg" alt="clock-icon">
        <span th:text="${#strings.replace(board.created_at, 'T', ' ')}"></span>
      </div>
      <div class="post-meta-right">
        조회수 <strong>[[${board.view_count}]]</strong> | 댓글수 <strong>6</strong>
      </div>
    </div>

    <!-- 게시글 내용 -->
    <div class="post-content" th:utext="${board.content}"></div>

    <!-- 댓글 목록 -->
    <div class="comments-section">
      <h3><span id="commentTotal" th:text="${cList.size()}"></span> 개의 댓글</h3>
      <table class="comment-table">
        <tbody id="commentList">
          <tr th:if="${commentList.size() == 0 }">
             <td colspan="2" style="font-weight: normal">등록된 댓글이 없습니다.</td>
            <td></td>
          </tr>

          <tr th:if="${commentList.size() > 0 }" th:each="comment : ${commentList}">
            <td style="position: relative;">

              <a href="javascript:void(0);" class="nickname" th:data-username="${comment.username}" th:data-commentId="${comment.comment_id}">
                <span th:text="${comment.nickname}"></span>
              </a>

              <div class="modal" th:id="|modal-${comment.username}-${comment.comment_id}|">
                <h6>등록된 반려견</h6>
                <ul class="petList" th:id="|petList-${comment.username}-${comment.comment_id}|" th:each="dog : ${comment.dog_list}">
                  <li>
                    <a th:href="@{/dog/detail/{dogId}(dogId=${dog.dog_id})}">
                      <img th:src="${dog.profile_url}" style="width: 50px; height: 50px; border-radius: 50%;" onerror="this.src='/img/dog_foot2.png';">
                    </a>
                    [[${dog.dog_name}]]
                  </li>
                </ul>
              </div>

            </td>
            <td>
              <!-- 기존 댓글 내용 -->
              <div th:id="'comment' + ${comment.comment_id}" th:text="${comment.comment}"></div>

              <!-- 수정할 때 나타날 input 필드 (초기에는 숨김 처리) -->
              <textarea
                     class="input-a"
                     th:id="'commentInput' + ${comment.comment_id}"
                     th:text="${comment.comment}"
                     style="display: none; width: 100%;">
              </textarea>
            </td>
            <td>
              <span th:text="${#strings.replace(comment.created_at, 'T', ' ')}"></span>
              <br> <!-- 줄바꿈 추가 -->
              <th:block th:if="${user!=null and comment.username == user.username}">
                <!-- 수정 버튼 -->
                <a href="#" th:id="'editBtn' + ${comment.comment_id}"
                   th:attr="onclick='editComment(' + ${comment.comment_id} + ')'" >수정</a>

                <!-- 저장 버튼 (초기에는 숨김 처리) -->
                <a href="#" th:id="'saveBtn' + ${comment.comment_id}"
                   th:attr="onclick='saveComment(' + ${comment.comment_id} + ')'"
                   style="display: none;">저장</a> |
                <a href="#" id="commentDeleteBtn" th:data-comment-id="${comment.comment_id}" class="delete-comment-btn">삭제</a>
              </th:block>
            </td>

          </tr>

        </tbody>
      </table>

      <!-- 페이지 네비게이션 부분 (Thymeleaf 템플릿) -->
      <div class="paging">
        <!-- 첫 페이지 및 이전 버튼 -->
        <span th:if="${pagingBtn.firstPageBtn}">
                <a th:href="@{/board/boardDetail/{boardId}/{category}(boardId=${boardId},category=${category}, page=1)}"><img src="/img/paging_pre.svg"></a>
              </span>
        <span th:if="${pagingBtn.prevBtn}">
                <a th:href="@{/board/boardDetail/{boardId}/{category}(boardId=${boardId},category=${category}, page=${pagingBtn.startPage - 1})}">
                    <img src="/img/paging_pre.svg">
                </a>
              </span>

        <!-- 페이지 번호 버튼 -->
        <span th:each="pageNum : ${#numbers.sequence(pagingBtn.startPage, pagingBtn.endPage)}">
                <a th:if="${pageNum != pagingBtn.currentPage}"
                   th:href="@{/board/boardDetail/{boardId}/{category}(boardId=${boardId},category=${category}, page=${pageNum})}"
                   th:text="${pageNum}"
                   class="page-link"></a>
                <span th:if="${pageNum == pagingBtn.currentPage}"
                      class="current-page"
                      th:text="${pageNum}"></span>
              </span>

        <!-- 다음 버튼 및 마지막 페이지 버튼 -->
        <span th:if="${pagingBtn.nextBtn}">
                <a th:href="@{/board/boardDetail/{boardId}/{category}(boardId=${boardId},category=${category}, page=${pagingBtn.endPage + 1})}"><img src="/img/paging_pre.svg"></a>
              </span>
        <span th:if="${pagingBtn.lastPageBtn}">
                <a th:href="@{/board/boardDetail/{boardId}/{category}(boardId=${boardId},category=${category}, page=${pagingBtn.totalPage})}"><img src="/img/paging_next.svg"></a>
              </span>
      </div>
    </div>

    <!-- 댓글 -->
    <th:block th:if="${user != null}">
    <form id="commentForm">
      <textarea id="comment" class="input-a" name="comment" style="width: 100%; margin-bottom: 10px" placeholder="댓글을 입력해주세요"></textarea>
      <input type="submit" class="btn-b" style="width: 95px; height: 35px; margin-bottom: 10px" value="작성"/>
    </form>
    </th:block>
  </div>
</div>
<script src="/js/ajy/board/board_detail.js"></script>
<script src="/js/ajy/board/board_list.js"></script>
</body>
</html>